.DS_Store
.gradle
.idea
.vscode
.classpath
.project
.settings
.yardoc
.yardopts
.vscode
bin
build
*/build
target
out
*.iml
*.ipr
*.iws
test-output
test-results
test-tmp
*.class
mods
*/mods
data
developer.id
*.mod.json
copy.sh
.cache-main
.cache-tests
**/ts/entcore
**/ts/**/*.js
**/ts/*.js
**/ts/**/*.js.map
**/ts/*.js.map
**/template/entcore
**/temp
**/dist
**/.DS_Store
**/view/*.html
gradle*
/node_modules/
rev-manifest.json
/src/main/resources/public/js/behaviours.js
/src/main/resources/view
/coverage/front/cobertura-coverage.xml
.env
target
dependency-reduced-pom.xml
