.lightbox-view {
	position: absolute !important;
}

.dropdown-menu {
	z-index: 11000 !important;
}

.form-element {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: 5px;
}

.form-label {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 4px;
	margin-bottom: 5px;
}

.form-article {
	margin-bottom: 0;
}

.uneditable {
	background: rgba(0, 0, 0, 0.1);
	padding: 5px;
	font-size: 14px;
	line-height: 20px;
	margin: 3px 0;
}

.uneditable p {
	margin: 5px 0;
}

.long-badge {
	border-radius: 10px;
	background: #ccc;
	font-weight: bold;
	font-size: 12px;
	padding: 1px 4px;
	display: inline-block;
	height: 15px;
	text-align: center;
	line-height: 19px;
	color: #000;
	margin-top: 2px;
}


tr.minor td {
	background: rgba(48, 48, 48, 0.6);
}

button.disabled,
a.button.disabled,
input[type=button].disabled {
	background: #646464;
	color: #ccc;
}

button.disabled:hover,
a.button.disabled:hover,
input[type=button].disabled:hover {
	background: #646464;
	color: #373737;
}

table.colored thead a {
	color: #000;
}

table.colored thead a:hover {
	color: #ee532f;
}

table.colored thead a.selected {
	color: #22a4dd;
}

table.colored tbody tr:hover td {
	background: rgba(48, 48, 48, 0.6);
}

table.colored tbody tr:hover a {
	color: #fff;
}

table.colored td.grey {
	background: rgba(100, 100, 100, 0.75);
}

table.colored tr:hover td.grey {
	background: rgba(100, 100, 100, 0.6);
}

table.colored span.badge {
	line-height: 19px;
	color: #000;
}


ul.colored, ul.colored a {
	color: #fff;
}

ul.colored a:hover {
	color: #000;
	font-weight: bold;
}

ul.colored a.grey, 
ul.colored a.grey:hover, 
ul.colored ul.grey a, 
ul.colored ul.grey a:hover {
	color: rgb(100, 100, 100);
}

ul.colored ul.grey a.selected {
	background: rgb(100, 100, 100);
}

td.invisible, 
tr:hover td.invisible {
	background: transparent !important;	
}