.resource-table {
  table-layout: fixed;
  width: 100%;
  margin-top: 1%;
  tr {
    td {
      padding: 0.5rem 0;
      text-align: center;

      .flex-responsive {
        display: flex;

        @media screen and (max-width: 800px) {
          flex-direction: column;
        }

        &.around {
          justify-content: space-around;
        }
      }

      input[type="checkbox"]:checked+label {
          cursor: pointer;
          font-weight: bold;

        &.green-color {
          color: $rbs-green;
        }

        &.red-color {
          color: $rbs-red;
        }
      }

      li {
        width: calc(100% / 7);
      }
    }
  }
}
