<div class="row">
	<article class="twelve cell">
		<h2 ng-if="currentResourceType.resourcesToDelete.length === 1"><i18n>rbs.manage.resource.delete.confirm.one</i18n></h2>
		<h2 ng-if="currentResourceType.resourcesToDelete.length > 1"><i18n>rbs.manage.resource.delete.confirm.multi</i18n></h2>

		<div class="row">
			<ul>
				<li ng-repeat="resource in currentResourceType.resourcesToDelete">[[resource.name]]</li>
			</ul>
		</div>

		<div class="row">
			<p><i18n>rbs.manage.resource.delete.details</i18n></p>
		</div>

		<div class="row">
			<button class="right-magnet" ng-click="doDeleteResource()" ng-if="display.processing !== true"><i18n>rbs.delete</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="closeResource()" ng-if="display.processing !== true" />

			<button class="right-magnet cancel disabled" disabled ng-if="display.processing === true"><i18n>rbs.deleting</i18n></button>
		</div>
	</article>
</div>