<div class="row">
	<article class="twelve cell">
		<h2 ng-if="bookings.selection().length === 1"><i18n>rbs.booking.delete.confirm.one</i18n></h2>
		<h2 ng-if="bookings.selection().length > 1"><i18n>rbs.booking.delete.confirm.multi</i18n></h2>

		<div class="row">
			<table class="list-view">
				<thead>
					<tr>
						<th><i18n>rbs.booking.headers.owner</i18n></th>
						<th><i18n>rbs.booking.headers.resource</i18n></th>
						<th><i18n>rbs.booking.headers.start_date</i18n></th>
						<th><i18n>rbs.booking.headers.end_date</i18n></th>
						<th><i18n>rbs.booking.headers.reason</i18n></th>
						<th><i18n>rbs.booking.headers.status</i18n></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="booking in bookings.selection()">
						<td>[[booking.owner_name]]</td>
						<td>([[booking.color]]) [[booking.resource.name]]</td>
						<td>[[formatDate(booking.start_date)]]</td>
						<td>[[formatDate(booking.end_date)]]</td>
						<td>[[booking.booking_reason]]</td>
						<td>
							<i18n ng-if="booking.status === status.STATE_CREATED">rbs.booking.status.created</i18n>
							<i18n ng-if="booking.status === status.STATE_VALIDATED">rbs.booking.status.validated</i18n>
							<i18n ng-if="booking.status === status.STATE_REFUSED">rbs.booking.status.refused</i18n>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div class="row">
			<p><i18n>rbs.booking.delete.details</i18n></p>
		</div>

		<div class="row">
			<button class="right-magnet" ng-click="doRemoveBookingSelection()" ng-if="display.processing !== true"><i18n>rbs.delete</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="closeBooking()" ng-if="display.processing !== true" />

			<button class="right-magnet cancel disabled" disabled ng-if="display.processing === true"><i18n>rbs.deleting</i18n></button>
		</div>
	</article>
</div>