<div class="row form-section" ng-if="editedBooking">
	<h2><i18n>rbs.booking.new</i18n></h2>
	<section class="twelve cell">

		<div class="row accordions">
			<!-- Resource description -->
			<article class="accordion" ng-class="{ opened: editedBooking.display.state === editedBooking.display.STATE_RESOURCE }">
				<h2 ng-click="editedBooking.display.state = editedBooking.display.STATE_RESOURCE;">
					<span ng-if="editedBooking.display.state === editedBooking.display.STATE_RESOURCE">
						<i18n>rbs.header.resource.pick</i18n>
					</span>
					<span ng-if="editedBooking.display.state !== editedBooking.display.STATE_RESOURCE">
						<i18n>rbs.header.resource.picked</i18n>
						<span class="right-magnet">
							[[composeTitle(editedBooking.resource.type.name, editedBooking.resource.name)]]
						</span>
					</span>
				</h2>
				<div class="toggle">
					<div class="content">
						<div class="row" ng-if="editedBooking.id === undefined">
							<div class="row">
								<label class="three cell"><i18n>rbs.booking.edit.structure.label</i18n></label>
								<select class="six cell" ng-model="selectedStructure" ng-options="struct.name for struct in structuresWithTypes | orderBy: 'name'" ng-change="switchStructure(selectedStructure)" ng-if="selectedStructure !== undefined">
								</select>
								<div class="six cell warning" ng-if="structuresWithTypes.length < 1">
									<i18n>rbs.booking.warning.no.structure</i18n>
								</div>
							</div>
							<div class="row" ng-if="selectedStructure !== undefined">
								<div class="row">
									<label class="three cell"><i18n>rbs.booking.edit.type.label</i18n></label>
									<select class="six cell" ng-model="editedBooking.type" ng-options="resourceType.name for resourceType in selectedStructure.types | orderBy: 'name'" ng-change="autoSelectResource()" required ng-if="selectedStructure.types.length > 0">
									</select>
									<div class="six cell warning" ng-if="editedBooking.type === undefined">
										<i18n>rbs.booking.warning.no.types</i18n>
									</div>
								</div>
								<div class="row" ng-if="editedBooking.type !== undefined">
									<label class="three cell"><i18n>rbs.booking.edit.resource.label</i18n></label>
									<select class="six cell" ng-model="editedBooking.resource" ng-options="resource.name for resource in editedBooking.type.resources.filterAvailable(editedBooking.is_periodic)" required ng-if="editedBooking.resource !== undefined">
									</select>
									<div class="six cell warning" ng-if="editedBooking.resource === undefined">
										<i18n>rbs.booking.warning.no.resources</i18n>
									</div>
								</div>
							</div>
						</div>
						<div class="row" ng-if="editedBooking.id !== undefined">
							<div class="row">
								<label class="three cell"><i18n>rbs.booking.edit.type.label</i18n></label>
								<input class="six cell disabled" type="text" disabled value="[[editedBooking.resource.type.name]]"/>
							</div>
							<div class="row">
								<label class="three cell"><i18n>rbs.booking.edit.resource.label</i18n></label>
								<input class="six cell disabled" type="text" disabled value="[[editedBooking.resource.name]]"/>
							</div>
						</div>
						<div ng-include="template.containers.editBookingErrors"></div>
						<div ng-if="editedBooking.resource !== undefined && editedBooking.resource.description"
							 bind-html="editedBooking.resource.description" class="horizontal-spacing-twice"></div>
						<div class="row" ng-if="editedBooking.resource !== undefined && (! editedBooking.resource.description)">
							<p>
								<i18n>rbs.booking.edit.description.empty</i18n>
							</p>
						</div>
						<div class="row" ng-if="editedBooking.type && editedBooking.type.moderators">
							<label class="row"><i18n>rbs.booking.details.moderators</i18n></label>
							<p class="row">
								<span ng-repeat="moderator in editedBooking.type.moderators" class="cell four cell-ellipsis horizontal-spacing-twice"
									  title="[[moderator.username+' ('+lang.translate(moderator.type)+')']]">
										[[moderator.username]] <em class="small-text">([[lang.translate(moderator.type)]])</em>[[$last ? '' : ', ']]
								</span>
							</p>
						</div>
					</div>

				</div>
			</article>

			<!-- Booking base slot dates and hours -->
			<article class="accordion" ng-class="{ opened: editedBooking.display.state === editedBooking.display.STATE_BOOKING }">
				<h2 ng-click="editedBooking.display.state = editedBooking.display.STATE_BOOKING;">
					<span ng-if="editedBooking.display.state === editedBooking.display.STATE_BOOKING">
						<i18n>rbs.header.booking.pick</i18n>
					</span>
					<span ng-if="editedBooking.display.state !== editedBooking.display.STATE_BOOKING">
						<i18n>rbs.header.booking.picked</i18n>
						<span class="right-magnet" ng-if="editedBooking.is_periodic">
							<i18n>rbs.booking.details.header.from.periodic</i18n>&nbsp;[[formatBooking(booking.startDate, booking.startTime)]]
						</span>
						<span class="right-magnet" ng-if="!editedBooking.is_periodic">
							<i18n>rbs.booking.details.header.from</i18n>&nbsp;[[formatBooking(booking.startDate, booking.startTime)]]&nbsp;
							<i18n>rbs.booking.details.header.to</i18n>&nbsp;[[formatBooking(booking.endDate, booking.endTime)]]
						</span>
					</span>
				</h2>
				<div class="toggle">
					<div class="content">

						<!-- Booking start - non periodic -->
						<div class="row" ng-if="! editedBooking.is_periodic">
							<label class="three cell"><i18n>rbs.booking.edit.start.label</i18n></label>
							<date-picker ng-if="editedBooking.id === undefined" class="two cell horizontal-spacing" ng-model="booking.startDate" ng-change="showDate = true" past="true" min-date="today.toDate()" exp="true" exp-object="booking.endDate" required></date-picker>
							<date-picker ng-if="editedBooking.id !== undefined && editedBooking.type.slotprofile === undefined" class="two cell horizontal-spacing" ng-model="booking.startDate" ng-change="showDate = true" past="true" min-date="today.toDate()" exp="true" exp-object="booking.endDate" required></date-picker>
							<date-picker ng-if="editedBooking.id !== undefined && editedBooking.type.slotprofile !== undefined" class="two cell horizontal-spacing" ng-model="booking.startDate" ng-change="startDateModif();showDate = true" past="true" min-date="today.toDate()" exp="true" exp-object="booking.endDate" required></date-picker>
							<div ng-if="editedBooking.type.slotprofile === undefined">
								<div class="one cell centered-text"><i18n>rbs.booking.details.header.at</i18n></div>
								<div>
									<time-picker-rbs class="two cell horizontal-spacing" ng-limit="booking.endTime" ng-begin="true" ng-model="booking.startTime" required></time-picker-rbs>
								</div>
							</div>
						</div>
						<!-- Booking end - non periodic -->
						<div class="row" ng-if="! editedBooking.is_periodic">
							<label class="three cell"><i18n>rbs.booking.edit.end.label</i18n></label>
							<date-picker ng-if="editedBooking.id === undefined" class="two cell horizontal-spacing" ng-model="booking.endDate" ng-change="showDate = true;checkDateFunction()" past="true" min-date="booking.startDate" required></date-picker>
							<date-picker ng-if="editedBooking.id !== undefined && editedBooking.type.slotprofile === undefined" class="two cell horizontal-spacing" ng-model="booking.endDate" ng-change="showDate = true;checkDateFunction()" past="true" min-date="booking.startDate" required></date-picker>
							<date-picker ng-if="editedBooking.id !== undefined && editedBooking.type.slotprofile !== undefined" class="two cell horizontal-spacing" ng-model="booking.startDate" ng-change="startDateModif();showDate = true;" past="true" required></date-picker>
							<div ng-if="editedBooking.type.slotprofile === undefined">
								<div class="one cell centered-text"><i18n>rbs.booking.details.header.at</i18n></div>
								<div>
									<time-picker-rbs class="two cell horizontal-spacing" ng-limit="booking.startTime" ng-end="true" ng-model="booking.endTime" required></time-picker-rbs>
								</div>
							</div>
						</div>

						<!-- Booking start - periodic -->
						<div class="row" ng-if="editedBooking.is_periodic">
							<label class="three cell"><i18n>rbs.booking.edit.period.start.label</i18n></label>
							<date-picker ng-if="editedBooking.id === undefined" class="two cell horizontal-spacing" ng-model="booking.startDate" ng-change="editPeriodicStartDate();checkDateFunction();updatePeriodicSummary()" past="true" min-date="today.toDate()" exp="true" required></date-picker>
							<date-picker ng-if="editedBooking.id !== undefined && editedBooking.type.slotprofile === undefined" class="two cell horizontal-spacing" ng-model="booking.startDate" ng-change="editPeriodicStartDate();checkDateFunction();updatePeriodicSummary()" past="true" min-date="today.toDate()" exp="true" required></date-picker>
							<date-picker ng-if="editedBooking.id !== undefined && editedBooking.type.slotprofile !== undefined" class="two cell horizontal-spacing" ng-model="booking.startDate" ng-change="startDateModif();editPeriodicStartDate();checkDateFunction();updatePeriodicSummary()" past="true" min-date="today.toDate()" exp="true" required></date-picker>
							<div ng-if="editedBooking.type.slotprofile === undefined">
								<div class="one cell centered-text"><i18n>rbs.booking.details.header.at</i18n></div>
								<div>
									<time-picker-rbs class="two cell horizontal-spacing" ng-begin="true" ng-model="booking.startTime" required></time-picker-rbs>
								</div>
							</div>
						</div>
						<!-- Booking end - periodic -->
						<div class="row" ng-if="editedBooking.is_periodic">
							<label class="three cell"><i18n>rbs.booking.edit.period.end.label</i18n></label>
							<date-picker ng-if="editedBooking.id === undefined" class="two cell horizontal-spacing" ng-model="booking.endDate" ng-change="showDate = true;checkDateFunction();updatePeriodicSummary()" past="true" min-date="booking.startDate" exp="true" exp-object="booking.periodicEndDate" required></date-picker>
							<date-picker ng-if="editedBooking.id !== undefined && editedBooking.type.slotprofile === undefined" class="two cell horizontal-spacing" ng-model="booking.endDate" ng-change="showDate = true;checkDateFunction();updatePeriodicSummary()" past="true" min-date="booking.startDate" exp="true" exp-object="booking.periodicEndDate" required></date-picker>
							<date-picker ng-if="editedBooking.id !== undefined && editedBooking.type.slotprofile !== undefined" class="two cell horizontal-spacing" ng-model="booking.startDate" ng-change="startDateModif();editPeriodicStartDate();checkDateFunction();updatePeriodicSummary()" past="true" min-date="today.toDate()" exp="true" required></date-picker>
							<div ng-if="editedBooking.type.slotprofile === undefined">
								<div class="one cell centered-text"><i18n>rbs.booking.details.header.at</i18n></div>
								<div>
									<time-picker-rbs class="two cell horizontal-spacing" ng-begin="true" ng-model="booking.endTime" required></time-picker-rbs>
								</div>
							</div>
						</div>


						<!-- Date/time error -->
						<div class="row" ng-if="booking.invalidDateTimes === true" translate content="booking.invalidDateTimesMessage">
						</div>

						<div ng-if="editedBooking.type.slotprofile !== undefined">
							<label class="three cell"><i18n>rbs.booking.edit.slot.label</i18n></label>
							<hr/>
							<div class="twelve cell" ng-if="editedBooking.id === undefined">
								<select style="border: 1px groove" class="four cell" ng-model="selectedSlotStart" ng-options="slot.name + ' de ' + slot.startHour + ' à ' + slot.endHour for slot in slots.slots | orderBy: 'startHour'" ng-change="switchSlotStart(selectedSlotStart)">
								</select>
								<div class="one cell centered-text"><i18n>rbs.booking.details.header.at</i18n></div>
								<select style="border: 1px groove" class="four cell" ng-model="selectedSlotEnd" ng-options="slot.name + ' de ' + slot.startHour + ' à ' + slot.endHour for slot in slots.slots | orderBy: 'startHour'" ng-change="switchSlotEnd(selectedSlotEnd)">
								</select>
							</div>
							<div class="twelve cell" ng-if="editedBooking.id !== undefined">
								<select style="border: 1px groove" class="four cell" ng-model="selectedSlotStart" ng-options="slot.name + ' de ' + slot.startHour + ' à ' + slot.endHour for slot in slots.slots | orderBy: 'startHour'" ng-change="switchSlotStart(selectedSlotStart); switchSlotEnd(selectedSlotStart)">
								</select>
								<div class="one cell centered-text"><i18n>rbs.booking.details.header.at</i18n></div>
								<select style="border: 1px groove" class="four cell" ng-model="selectedSlotStart" ng-options="slot.name + ' de ' + slot.startHour + ' à ' + slot.endHour for slot in slots.slots | orderBy: 'startHour'" ng-change="switchSlotStart(selectedSlotStart); switchSlotEnd(selectedSlotStart)">
								</select>
							</div>
							<div class="cell warning" ng-if="slotNotFound"><i18n>rbs.booking.warning.slot.not.found</i18n></cell></div>
							<hr />
						</div>

						<hr />
						<!-- Periodicity toggle - new booking -->
						<div class="row six" ng-if="editedBooking.id === undefined && editedBooking.resource.periodic_booking">
							<input type="checkbox" ng-model="editedBooking.is_periodic" ng-change="togglePeriodic();checkDateFunction()" class="one cell" />&nbsp;<i18n>rbs.booking.edit.periodic_booking.label</i18n>
						</div>

						<!-- Periodicity toggle (fixed) - editing booking -->
						<div class="row six" ng-if="editedBooking.id !== undefined">
							<input type="checkbox" disabled ng-checked="editedBooking.is_periodic" class="one cell" />&nbsp;<i18n>rbs.booking.edit.periodic_booking.label</i18n>
						</div>

						<!-- Booking reason -->
						<div class="row">
							<textarea ng-model="editedBooking.booking_reason" i18n-placeholder="rbs.booking.edit.reason.label"></textarea>
						</div>

						<!-- Errors -->
						<div ng-include="template.containers.editBookingErrors"></div>
					</div>
				</div>
			</article>

			<!-- Periodicity configuration -->
			<article class="accordion" ng-if="editedBooking.is_periodic" ng-class="{ opened: editedBooking.display.state === editedBooking.display.STATE_PERIODIC }">
				<h2 ng-click="editedBooking.display.state = editedBooking.display.STATE_PERIODIC;">
					<span ng-if="editedBooking.display.state === editedBooking.display.STATE_PERIODIC">
						<i18n>rbs.header.periodic.pick</i18n>
					</span>
					<span ng-if="editedBooking.display.state !== editedBooking.display.STATE_PERIODIC">
						<i18n>rbs.header.periodic.picked</i18n>
						<span class="right-magnet">[[editedBooking.periodicShortSummary]]</span>
					</span>
				</h2>
				<div class="toggle">
					<div class="content">
						<!-- Periodicity repeat options -->
						<div class="row">
							<label class="two cell"><i18n>rbs.booking.edit.period.label</i18n></label>
							<select class="one cell" ng-model="editedBooking.periodicity" ng-options="periodicity for periodicity in periods.periodicities" ng-change="updatePeriodicSummary()" required>
							</select>
							<label class="two cell horizontal-spacing-twice"><i18n>rbs.booking.edit.period.unit</i18n></label>
						</div>
						<div ng-if="showDaySelection" class="row vertical-spacing-twice">
							<label class="cell horizontal-spacing-twice" ng-repeat="periodDay in editedBooking.periodDays">
								<input type="checkbox" ng-model="periodDay.value" name="day_[[periodDay.number]]" value="false" ng-change="updatePeriodicSummary()" />
								<span>
									<i18n ng-if="periodDay.number == 1">rbs.booking.edit.period.days.1</i18n>
									<i18n ng-if="periodDay.number == 2">rbs.booking.edit.period.days.2</i18n>
									<i18n ng-if="periodDay.number == 3">rbs.booking.edit.period.days.3</i18n>
									<i18n ng-if="periodDay.number == 4">rbs.booking.edit.period.days.4</i18n>
									<i18n ng-if="periodDay.number == 5">rbs.booking.edit.period.days.5</i18n>
									<i18n ng-if="periodDay.number == 6">rbs.booking.edit.period.days.6</i18n>
									<i18n ng-if="periodDay.number == 0">rbs.booking.edit.period.days.0</i18n>
								</span>
							</label>
						</div>

						<!-- Periodicity end -->
						<div class="row">
							<label class="twelve cell"><i18n>rbs.booking.edit.period.end.label</i18n></label>
						</div>

						<!-- Periodicity end by occurences -->
						<div class="row six">
							<input class="one cell" type="radio" name="periodic_after" data-ng-model="editedBooking.byOccurrences" ng-value="true" ng-change="updatePeriodicSummary()" checked />
							<label class="two cell"><i18n>rbs.booking.edit.period.end.after</i18n></label>
							<select class="two cell" ng-model="editedBooking.occurrences" ng-options="occurrence for occurrence in periods.occurrences" ng-change="updatePeriodicSummary()">
							</select>
							<label class="six cell horizontal-spacing-twice"><i18n>rbs.booking.edit.period.end.occurrences</i18n></label>
						</div>

						<!-- Periodicity end by date -->
						<div class="row six">
							<input class="one cell" type="radio" name="periodic_after" data-ng-model="editedBooking.byOccurrences" ng-value="false" ng-change="updatePeriodicSummary()" />
							<label class="two cell"><i18n>rbs.booking.edit.period.end.on</i18n></label>
							<date-picker class="six cell" ng-model="booking.periodicEndDate" ng-change="showDate = true; updatePeriodicSummary();checkDateFunction()" past="true" min-date="booking.startDate"></date-picker>
						</div>

						<!-- Periodicity summary -->
						<hr />
						<div class="row">
							<label class="cell"><i18n>rbs.booking.edit.period.summary</i18n></label>
							<p class="row warning" ng-if="editedBooking.periodicError">[[editedBooking.periodicError]]</p>
							<p class="row">[[editedBooking.periodicSummary]]</p>
						</div>

						<!-- Errors -->
						<div ng-include="template.containers.editBookingErrors"></div>
					</div>
				</div>
			</article>
		</div>

		<div class="row">
			<behaviour name="contrib" resource="editedBooking.resource" ng-if="editedBooking.resource !== undefined">
				<button class="right-magnet"
						ng-click="saveBooking()"
						ng-if="display.processing !== true && editedBooking.is_periodic !== true && editedBooking.display.state === editedBooking.display.STATE_BOOKING
									&& editedBooking.type.slotprofile === undefined">
					<i18n>rbs.save</i18n>
				</button>
				<button class="right-magnet"
						ng-click="saveBooking()"
						ng-if="display.processing !== true && editedBooking.is_periodic && editedBooking.display.state === editedBooking.display.STATE_PERIODIC
							&& editedBooking.type.slotprofile === undefined">
					<i18n>rbs.save</i18n>
				</button>
				<button class="right-magnet"
						ng-click="saveBookingSlotProfile()"
						ng-if="display.processing !== true && editedBooking.is_periodic !== true && editedBooking.display.state === editedBooking.display.STATE_BOOKING
							&& editedBooking.type.slotprofile !== undefined">
					<i18n>rbs.save</i18n>
				</button>
				<button class="right-magnet"
						ng-click="saveBookingSlotProfile()"
						ng-if="display.processing !== true && editedBooking.is_periodic && editedBooking.display.state === editedBooking.display.STATE_PERIODIC
							&& editedBooking.type.slotprofile !== undefined">
					<i18n>rbs.save</i18n>
				</button>
				<button class="right-magnet"
						ng-click="editedBooking.display.state = editedBooking.display.STATE_BOOKING"
						ng-if="display.processing !== true && editedBooking.display.state === editedBooking.display.STATE_RESOURCE">
					<i18n>rbs.next</i18n>
				</button>
				<button class="right-magnet"
						ng-click="editedBooking.display.state = editedBooking.display.STATE_PERIODIC"
						ng-if="display.processing !== true && editedBooking.is_periodic && editedBooking.display.state === editedBooking.display.STATE_BOOKING">
					<i18n>rbs.next</i18n>
				</button>
			</behaviour>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="closeBooking(); display.createItem = undefined" ng-if="display.processing !== true" />

			<button class="right-magnet cancel disabled" disabled ng-if="display.processing === true"><i18n>rbs.processing</i18n></button>
			<div class="cell warning" ng-if="editedBooking.id !== undefined && editedBooking.is_periodic"><i18n>rbs.booking.warning.periodic</i18n></cell></div>
		</div>
	</section>
</div>
