<div class="row">
	<h2><i18n>rbs.booking.new</i18n></h2>
	<section class="twelve cell">

		<div class="row accordions">
			<!-- Resource description -->
			<article class="accordion" ng-class="{ opened: editedBooking.showResource === true }">
				<h2 ng-click="toggleShowBookingResource()">
					<i18n>rbs.header.resource.pick</i18n>
					<span class="right-magnet" ng-if="editedBooking.showResource !== true">
						[[editedBooking.resource.type.name]]&nbsp;-&nbsp;[[editedBooking.resource.name]]
					</span>
				</h2>
				<div class="toggle">
					<div class="content">
						<div class="row" ng-if="editedBooking.id === undefined">
							<div class="row">
								<label class="three cell"><i18n>rbs.booking.edit.type.label</i18n></label>
								<select class="six cell" ng-model="editedBooking.type" ng-options="resourceType.name for resourceType in resourceTypes.filterAvailable()" ng-change="autoSelectResource()" required ng-if="editedBooking.type !== undefined">
								</select>
								<div class="six cell warning" ng-if="editedBooking.type === undefined">
									<i18n>rbs.booking.warning.no.types</i18n>
								</div>
							</div>
							<div class="row" ng-if="editedBooking.type !== undefined">
								<label class="three cell"><i18n>rbs.booking.edit.resource.label</i18n></label>
								<select class="six cell" ng-model="editedBooking.resource" ng-options="resource.name for resource in editedBooking.type.resources.filterAvailable(editedBooking.is_periodic)" required ng-if="editedBooking.resource !== undefined">
								</select>
								<div class="six cell warning" ng-if="editedBooking.resource === undefined">
									<i18n>rbs.booking.warning.no.resources</i18n>
								</div>
							</div>
						</div>
						<div class="row" ng-if="editedBooking.id !== undefined">
							<div class="row">
								<label class="three cell"><i18n>rbs.booking.edit.type.label</i18n></label>
								<input class="six cell disabled" type="text" disabled value="[[editedBooking.resource.type.name]]"/>
							</div>
							<div class="row">
								<label class="three cell"><i18n>rbs.booking.edit.resource.label</i18n></label>
								<input class="six cell disabled" type="text" disabled value="[[editedBooking.resource.name]]"/>
							</div>
						</div>
						<div ng-if="editedBooking.resource !== undefined && editedBooking.resource.description" 
							bind-html="editedBooking.resource.description" class="content"></div>
						<div class="row" ng-if="editedBooking.resource !== undefined && (! editedBooking.resource.description)">
							<i18n>rbs.booking.edit.description.empty</i18n>
						</div>
						<div class="row" ng-if="editedBooking.type && editedBooking.type.moderators">
							<label class="row"><i18n>rbs.booking.details.moderators</i18n></label>
							<p class="row">
								<span ng-repeat="moderator in editedBooking.type.moderators">
										[[moderator.username]][[$last ? '' : ', ']]
								</span>
							</p>
						</div>
					</div>

				</div>
			</article>
		</div>

		<div class="row accordions">
			<!-- Periodic Booking with end date -->
			<article class="accordion" ng-if="editedBooking.is_periodic === true" ng-class="{ opened: (!editedBooking.byOccurrences && editedBooking.showResource !== true) }">
				<h2 ng-click="editedBooking.byOccurrences = false; editedBooking.showResource = undefined;"><i18n>rbs.header.period.pick</i18n></h2>
				<div class="toggle">
					<div class="content">
						<div class="row">
							<div>
								<label class="three cell form-label"><i18n>rbs.booking.edit.slot.label</i18n></label>
								<time-picker-rbs class="two cell" ng-begin="true" ng-limit="booking.endTime" ng-model="booking.startTime" required></time-picker-rbs>
							</div>
							<div>
								<label class="one cell centered-text"><i18n>-</i18n></label>
								<time-picker-rbs class="two cell" ng-end="true" ng-limit="booking.startTime" ng-model="booking.endTime" required></time-picker-rbs>
							</div>
						</div>
						<div class="row">
							<label class="three cell form-label"><i18n>rbs.booking.edit.period.start.label</i18n></label>
							<date-picker-rbs class="five cell" ng-model="booking.startDate" ng-change="showDate = true" past="true" min-date="today.toDate()" exp="true" exp-object="booking.periodicEndDate" required></date-picker-rbs>
						</div>
						<div class="row">
							<label class="three cell form-label"><i18n>rbs.booking.edit.period.end.on</i18n></label>
							<date-picker-rbs class="five cell" ng-model="booking.periodicEndDate" ng-change="showDate = true" past="true" min-date="booking.startDate"></date-picker-rbs>
						</div>
						<div class="row">
							<label class="three cell form-label"><i18n>rbs.booking.edit.period.label</i18n></label>
							<select class="one cell" ng-model="editedBooking.periodicity" ng-options="periodicity for periodicity in periods.periodicities" required>
							</select>
							<label class="two cell horizontal-spacing-twice"><i18n>rbs.booking.edit.period.unit</i18n></label>
						</div>
						<div class="row vertical-spacing-twice">
							<label class="cell horizontal-spacing-twice" ng-repeat="periodDay in editedBooking.periodDays">
								<input type="checkbox" ng-model="periodDay.value" name="day_[[periodDay.number]]" value="false" />
								<span>
									<i18n ng-if="periodDay.number == 1">rbs.booking.edit.period.days.1</i18n>
									<i18n ng-if="periodDay.number == 2">rbs.booking.edit.period.days.2</i18n>
									<i18n ng-if="periodDay.number == 3">rbs.booking.edit.period.days.3</i18n>
									<i18n ng-if="periodDay.number == 4">rbs.booking.edit.period.days.4</i18n>
									<i18n ng-if="periodDay.number == 5">rbs.booking.edit.period.days.5</i18n>
									<i18n ng-if="periodDay.number == 6">rbs.booking.edit.period.days.6</i18n>
									<i18n ng-if="periodDay.number == 0">rbs.booking.edit.period.days.0</i18n>
								</span>
							</label>
						</div>
						<div class="row form-element">
							<textarea ng-model="editedBooking.booking_reason" i18n-placeholder="rbs.booking.edit.reason.label"></textarea>
						</div>
					</div>
				</div>
			</article>
			<!-- Periodic Booking with occurences -->
			<article class="accordion" ng-if="editedBooking.is_periodic === true" ng-class="{ opened: (editedBooking.byOccurrences && editedBooking.showResource !== true) }">
				<h2 ng-click="editedBooking.byOccurrences = true; editedBooking.showResource = undefined;"><i18n>rbs.header.occurences.pick</i18n></h2>
				<div class="toggle">
					<div class="content">
						<div class="row">
							<div>
								<label class="three cell form-label"><i18n>rbs.booking.edit.slot.label</i18n></label>
								<time-picker-rbs class="two cell" ng-begin="true" ng-limit="booking.endTime" ng-model="booking.startTime" required></time-picker-rbs>
							</div>
							<div>
								<label class="one cell form-label centered-text"><i18n>-</i18n></label>
								<time-picker-rbs class="two cell" ng-end="true" ng-limit="booking.startTime" ng-model="booking.endTime" required></time-picker-rbs>
							</div>
						</div>
						<div class="row">
							<label class="three cell form-label"><i18n>rbs.booking.edit.start.label</i18n></label>
							<date-picker-rbs class="five cell" ng-model="booking.startDate" ng-change="showDate = true" past="true" min-date="today.toDate()" exp="true" exp-object="booking.periodicEndDate" required></date-picker-rbs>
						</div>
						<div class="row">
							<label class="three cell form-label"><i18n>rbs.booking.edit.period.end.occurrences</i18n></label>
							<select class="one cell" ng-model="editedBooking.occurrences" ng-options="occurrence for occurrence in periods.occurrences">
							</select>
						</div>

						<div class="row">
							<label class="three cell form-label"><i18n>rbs.booking.edit.period.label</i18n></label>
							<select class="one cell" ng-model="editedBooking.periodicity" ng-options="periodicity for periodicity in periods.periodicities" required>
							</select>
							<label class="two cell horizontal-spacing-twice"><i18n>rbs.booking.edit.period.unit</i18n></label>
						</div>
						<div class="row vertical-spacing-twice">
							<label class="cell horizontal-spacing-twice" ng-repeat="periodDay in editedBooking.periodDays">
								<input type="checkbox" ng-model="periodDay.value" name="day_[[periodDay.number]]" value="false" />
								<span>
									<i18n ng-if="periodDay.number == 1">rbs.booking.edit.period.days.1</i18n>
									<i18n ng-if="periodDay.number == 2">rbs.booking.edit.period.days.2</i18n>
									<i18n ng-if="periodDay.number == 3">rbs.booking.edit.period.days.3</i18n>
									<i18n ng-if="periodDay.number == 4">rbs.booking.edit.period.days.4</i18n>
									<i18n ng-if="periodDay.number == 5">rbs.booking.edit.period.days.5</i18n>
									<i18n ng-if="periodDay.number == 6">rbs.booking.edit.period.days.6</i18n>
									<i18n ng-if="periodDay.number == 0">rbs.booking.edit.period.days.0</i18n>
								</span>
							</label>
							<div class="row"></div>
						</div>
						<div class="row form-element">
							<textarea ng-model="editedBooking.booking_reason" i18n-placeholder="rbs.booking.edit.reason.label"></textarea>
						</div>
					</div>
				</div>
				<div class="row"></div>
			</article>
			<!-- Non Periodic Booking dates and hours -->
			<article class="accordion" ng-if="!editedBooking.is_periodic" ng-class="{ opened: !editedBooking.showResource }">
				<h2 ng-click="editedBooking.showResource = undefined;"><i18n>rbs.header.simple.pick</i18n></h2>
				<div class="toggle">
					<div class="content">
						<div class="row">
							<label class="three cell"><i18n>rbs.booking.edit.start.label</i18n></label>
							<date-picker-rbs class="two cell horizontal-spacing" ng-model="booking.startDate" ng-change="showDate = true" past="true" min-date="today.toDate()" exp="true" exp-object="booking.endDate" required></date-picker-rbs>
							<div class="one cell centered-text"><i18n>to</i18n></div>
							<div>
								<time-picker-rbs class="two cell horizontal-spacing" ng-limit="booking.endTime" ng-begin="true" ng-model="booking.startTime" required></time-picker-rbs>
							</div>
						</div>
						<div class="row">
							<label class="three cell"><i18n>rbs.booking.edit.end.label</i18n></label>
							<date-picker-rbs class="two cell horizontal-spacing" ng-model="booking.endDate" ng-change="showDate = true" past="true" min-date="booking.startDate" required></date-picker-rbs>
							<div class="one cell centered-text"><i18n>to</i18n></div>
							<div>
								<time-picker-rbs class="two cell horizontal-spacing" ng-limit="booking.startTime" ng-end="true" ng-model="booking.endTime" required></time-picker-rbs>
							</div>
						</div>
						<div class="row" ng-if="booking.invalidDateTimes === true" translate content="booking.invalidDateTimesMessage">
						</div>
						<!-- Non periodic Booking reason -->
						<div class="row form-element" ng-if="editedBooking.is_periodic !== true">
							<textarea ng-model="editedBooking.booking_reason" i18n-placeholder="rbs.booking.edit.reason.label"></textarea>
						</div>
					</div>
				</div>
			</article>
		</div>

		<!-- Errors -->
		<div class="warning form-element" ng-repeat="actionError in currentErrors" translate content="[[actionError.error]]">
		</div>

		<div class="row">
			<a class="cell" ng-if="editedBooking.id === undefined && editedBooking.is_periodic === true" ng-click="toggleNonPeriodic()"><i18n>rbs.booking.edit.toggle.nonperiodic</i18n></a>
			<a class="cell" ng-if="editedBooking.id === undefined && editedBooking.is_periodic !== true" ng-click="togglePeriodic()"><i18n>rbs.booking.edit.toggle.periodic</i18n></a>
			<behaviour name="contrib" resource="editedBooking.resource" ng-if="editedBooking.resource !== undefined">
				<button class="right-magnet" ng-click="saveBooking()" ng-if="display.processing !== true && editedBooking.showResource !== true"><i18n>rbs.save</i18n></button>
				<button class="right-magnet" ng-click="editedBooking.showResource = undefined" ng-if="display.processing !== true && editedBooking.showResource === true"><i18n>rbs.next</i18n></button>
			</behaviour>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="closeBooking(); display.createItem = undefined" ng-if="display.processing !== true" />

			<button class="right-magnet cancel disabled" disabled ng-if="display.processing === true"><i18n>rbs.processing</i18n></button>
			<div class="cell warning" ng-if="editedBooking.id !== undefined && editedBooking.is_periodic"><i18n>rbs.booking.warning.periodic</i18n></cell>
		</div>
	</section>
</div>