<!-- Lightbox -->
<div ng-if="display.showPanel">
	<lightbox show="display.showPanel" on-close="closeBooking()">
		<container template="lightbox"></container>
	</lightbox>
</div>

<!-- sidebar structures -->
<section class="cell three">
	<nav class="vertical row resources-tree">
		<ul>
			<li ng-repeat="struct in structuresWithTypes | orderBy:'name'">

				<a ng-if="struct.expanded !== true" class="structure" ng-click="expandStructure(struct)">
					<i class="caretBlack"></i>[[struct.name]]
				</a>

				<a ng-if="struct.expanded === true" class="structure" ng-click="switchSelectStructure(struct)">
					<i class="caretBlack expanded" ng-click="collapseStructure(struct)"></i> [[struct.name]]
				</a>

				<ul ng-if="struct.expanded === true" class="colored resourceType">
					<li ng-repeat="resourceType in struct.types | orderBy: 'name'">
						<div class ="row this-bell">
							<a ng-if="resourceType.expanded !== true" ng-style="{'background-color': '[[resourceType.color]]', 'color': 'white'}" ng-click="expandResourceType(resourceType)">
								<i class="caret"></i>[[resourceType.name]]
							</a>

							<a ng-if="resourceType.expanded === true" ng-style="{'background-color': '[[resourceType.color]]', 'color': 'white'}" ng-click="switchSelectResources(resourceType)">
								<i class="caret expanded" ng-click="collapseResourceType(resourceType)"></i>[[resourceType.name]]
							</a>
							<i ng-if="resourceType.notified === 'all'" tooltip="rbs.unsubscribe" ng-click="switchNotifications(resourceType)"  class="notification-icon bell"></i>
							<i ng-if="resourceType.notified === 'none'" tooltip="rbs.subscribe" ng-click="switchNotifications(resourceType)" class="notification-icon bell-slash"></i>
							<i ng-if="resourceType.notified === 'some'" tooltip="rbs.subscribe" ng-click="switchNotifications(resourceType)" class="notification-icon bell-disabled"></i>
						</div>
						<ul ng-if="resourceType.expanded === true">
							<li ng-repeat="resource in resourceType.resources.all">
								<div ng-style="{'background-color': '[[resource.color]]'}">
									<div class="row this-bell">
										<a ng-click="switchSelect(resource)" ng-class="{ selected: resource.selected, notselected: !resource.selected }">
											[[resource.name]]
											<i ng-if="!resource.is_available" class="suspended-icon"></i>
										</a>
										<i ng-if="resource.notified" tooltip="rbs.unsubscribe" ng-click="switchNotification(resource, resourceType)" class="notification-icon bell"></i>
										<i ng-if="!resource.notified" tooltip="rbs.subscribe" ng-click="switchNotification(resource, resourceType)" class="notification-icon bell-slash"></i>
									</div>
								</div>
							</li>
							<li ng-if="resourceType.resources.empty()">
								<i18n>rbs.resources.empty</i18n>
							</li>
						</ul>
					</li>
					<li ng-if="struct.types.length == 0">
						<i18n>rbs.resourcetype.empty</i18n>
					</li>
				</ul>
			</li>

            <li ng-if="sharedStructure.types.length !==0" class="no-padding">
                <a ng-if="sharedStructure.expanded !== true" class="structure" ng-click="expandStructure(sharedStructure)">
                    <i class="caretBlack"></i> [[lang.translate('shared.resources')]]
                </a>
                <a ng-if="sharedStructure.expanded === true" class="structure" ng-click="switchSelectStructure(sharedStructure)">
                    <i class="caretBlack expanded" ng-click="collapseStructure(sharedStructure)"></i> [[lang.translate('shared.resources')]]
                </a>
                <ul ng-if="sharedStructure.expanded === true" class="colored resourceType">
                    <li ng-repeat="resourceType in sharedStructure.types | orderBy: 'name'">
                        <div class ="row this-bell">
                            <a ng-if="resourceType.expanded !== true" ng-style="{'background-color': '[[resourceType.color]]', 'color': 'white'}" ng-click="expandResourceType(resourceType)">
                                <i class="caret"></i>[[resourceType.name]]
                            </a>
                            <a ng-if="resourceType.expanded === true" ng-style="{'background-color': '[[resourceType.color]]', 'color': 'white'}" ng-click="switchSelectResources(resourceType)">
                                <i class="caret expanded" ng-click="collapseResourceType(resourceType)"></i>[[resourceType.name]]
                            </a>
                            <i ng-if="resourceType.notified === 'all'" tooltip="rbs.unsubscribe" ng-click="switchNotifications(resourceType)"  class="notification-icon bell"></i>
                            <i ng-if="resourceType.notified === 'none'" tooltip="rbs.subscribe" ng-click="switchNotifications(resourceType)" class="notification-icon bell-slash"></i>
                            <i ng-if="resourceType.notified === 'some'" tooltip="rbs.subscribe" ng-click="switchNotifications(resourceType)" class="notification-icon bell-disabled"></i>
                        </div>
                        <ul ng-if="resourceType.expanded === true">
                            <li ng-repeat="resource in resourceType.resources.all">
                                <div ng-style="{'background-color': '[[resource.color]]'}">
                                    <div class="row this-bell">
                                        <a ng-click="switchSelect(resource)" ng-class="{ selected: resource.selected, notselected: !resource.selected }">
                                            [[resource.name]]
                                            <i ng-if="!resource.is_available" class="suspended-icon"></i>
                                        </a>
                                        <i ng-if="resource.notified" tooltip="rbs.unsubscribe" ng-click="switchNotification(resource, resourceType)" class="notification-icon bell"></i>
                                        <i ng-if="!resource.notified" tooltip="rbs.subscribe" ng-click="switchNotification(resource, resourceType)" class="notification-icon bell-slash"></i>
                                    </div>
                                </div>
                            </li>
                            <li ng-if="resourceType.resources.empty()">
                                <i18n>rbs.resources.empty</i18n>
                            </li>
                        </ul>
                    </li>
                    <li ng-if="sharedStructure.types.length == 0">
                        <i18n>rbs.resourcetype.empty</i18n>
                    </li>
                </ul>
            </li>
		</ul>
		<hr />
	</nav>
</section>

<!-- container with main-list or main-view -->
<section class="cell nine">
	<container template="bookings"></container>
</section>

<!-- snack bar toggle buttons with bookings -->
<booking-toggle-buttons-snackbar
		on-edit-booking="editBooking()"
		on-remove-booking="removeBookingSelection()"
		on-validate-booking="validateBookingSelection()"
		on-refuse-booking="refuseBookingSelection()"
		bookings="bookings"
		display="display">
</booking-toggle-buttons-snackbar>
