<table class="list-view">
	<thead>
		<tr>
			<th><input type="checkbox" ng-model="display.selectAllBookings" ng-change="swicthSelectAllBookings()" /></th>
			<th><i18n>rbs.booking.headers.owner</i18n></th>
			<th><i18n>rbs.booking.headers.resource</i18n></th>
			<th><i18n>rbs.booking.headers.start_date</i18n></th>
			<th><i18n>rbs.booking.headers.end_date</i18n></th>
			<th><i18n>rbs.booking.headers.reason</i18n></th>
			<th><i18n>rbs.booking.headers.status</i18n></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="booking in bookings.all">
			<td><input type="checkbox" ng-model="booking.selected" /></td>
			<td>[[booking.owner.displayName]]</td>
			<td>([[booking.color]]) [[booking.resource.name]]</td>
			<td>[[formatDate(booking.start_date)]]</td>
			<td>[[formatDate(booking.end_date)]]</td>
			<td>[[booking.booking_reason]]</td>
			<td><i18n>rbs.booking.status.[[booking.status]]</i18n></td>
		</tr>
	</tbody>
</table>