<filters>
	<li ng-class="{ selected: bookings.filters.mine }">
		<label>
			<i class="mine" tooltip="rbs.selector.mine"></i>
			<input type="checkbox" ng-model="mine.selected" ng-change="switchSelectMine()" />
		</label>
	</li>
	<li ng-class="{ selected: bookings.filters.unprocessed }" workflow="rbs.validator">
		<label>
			<i class="pending-action" tooltip="rbs.selector.unprocessed"></i>
			<input type="checkbox" ng-model="selectUnprocessed" ng-change="switchSelectUnprocessed()" />
		</label>
	</li>
	<li class="changeWeekButton">
		<button class="changeWeekButtonBack" ng-click="previousWeekBookingButton()">&#8592;</button>
		<button class="changeWeekButtonNext" ng-click="nextWeekBookingButton()">&#8594;</button>
	</li>
	<li ng-class="{ selected: bookings.filters.dates }">
		<label>
			<i class="dates" tooltip="rbs.selector.dates"></i>
			<input type="checkbox" ng-model="selectUnprocessed" ng-change="switchFilterListByDates(false)" />
		</label>
		<div class="dates" ng-if="bookings.filters.dates === true">
			<div class="cell" ng-class="{disabled: bookings.filters.dates !== true}">
				<date-picker-icon ng-model="bookings.filters.startDate" ng-change="switchFilterListByDates(true)" class="cell"></date-picker-icon>
				<div class="cell"><i18n>rbs.filters.date.from</i18n>&nbsp;[[formatMomentDayMedium(bookings.filters.startMoment)]]</div>
			</div>
			<div class="cell" ng-class="{disabled: bookings.filters.dates !== true}">
				<date-picker-icon ng-model="bookings.filters.endDate" ng-change="switchFilterListByDates(true)" class="cell"></date-picker-icon>
				<div class="cell"><i18n>rbs.filters.date.to</i18n>&nbsp;[[formatMomentDayMedium(bookings.filters.endMoment)]]</div>
			</div>
		</div>
	</li>
</filters>

<table class="list-view colored">
	<thead>
		<tr>
			<th class="one" colspan="2"><input type="checkbox" ng-model="display.selectAllBookings" ng-change="switchSelectAllBookings()" /></th>
			<th class="one" colspan="2" ng-click="switchSortBy('is_periodic')" ng-class="{'order-by-reversed': (sort.predicate === 'is_periodic' && sort.reverse === false),
				'order-by': (sort.predicate === 'is_periodic' && sort.reverse === true)}">
				<i class="periodic-status" tooltip="rbs.booking.headers.periodic"></i>
			</th>
			<th class="two" ng-click="switchSortBy('owner_name')" ng-class="{'order-by-reversed': (sort.predicate === 'owner_name' && sort.reverse === false),
				'order-by': (sort.predicate === 'owner_name' && sort.reverse === true)}">
				<i18n>rbs.booking.headers.owner</i18n>
			</th>
			<th class="three" ng-click="switchSortBy('resource.name')" ng-class="{'order-by-reversed': (sort.predicate === 'resource.name' && sort.reverse === false),
				'order-by': (sort.predicate === 'resource.name' && sort.reverse === true)}">
				<i18n>rbs.booking.headers.resource</i18n>
			</th>
			<th class="two" ng-click="switchSortBy('start_date')" ng-class="{'order-by-reversed': (sort.predicate === 'start_date' && sort.reverse === false),
				'order-by': (sort.predicate === 'start_date' && sort.reverse === true)}">
				<i18n>rbs.booking.headers.start_date</i18n>
			</th>
			<th class="two" ng-click="switchSortBy('end_date')" ng-class="{'order-by-reversed': (sort.predicate === 'end_date' && sort.reverse === false),
				'order-by': (sort.predicate === 'end_date' && sort.reverse === true)}">
				<i18n>rbs.booking.headers.end_date</i18n>
			</th>
			<th class="one" colspan="2" ng-click="switchSortBy('status')" ng-class="{'order-by-reversed': (sort.predicate === 'status' && sort.reverse === false),
				'order-by': (sort.predicate === 'status' && sort.reverse === true)}">
				<i18n>rbs.booking.headers.status</i18n>
			</th>
		</tr>
	</thead>
	<tbody ng-repeat="booking in bookings.filtered | orderBy:sort.predicate:sort.reverse">
		<tr>
			<td ng-if="booking.is_periodic" >
				<input type="checkbox" ng-model="booking.selected" ng-if="canDeleteBookingDateCheck(booking.end_date)" ng-change="switchSelectAllSlots(booking)"/>
			</td>
			<td ng-if="booking.is_periodic === false">
				<input type="checkbox" ng-model="booking.selected" ng-change="switchSelectAllSlots(booking)"/>
			</td>
			<td class="[[booking.color]]" ng-click="viewBooking(booking)">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			<td>
				<a ng-if="booking.is_periodic === true && booking.expanded !== true" ng-click="expandPeriodicBooking(booking)">&nbsp;<span class="badge">+</span></a>
				<a ng-if="booking.is_periodic === true && booking.expanded === true" ng-click="collapsePeriodicBooking(booking)">&nbsp;<span class="badge">-</span></a>
			</td>
			<td><i ng-if="booking.is_periodic" class="periodic-icon"></i></td>
			<td ng-click="viewBooking(booking)">[[booking.owner_name]]</td>
			<td ng-click="viewBooking(booking)">[[booking.resource.name]]</td>
			<td ng-click="viewBooking(booking)">[[formatMoment(booking.startMoment)]]</td>
			<td ng-click="viewBooking(booking)">[[formatMoment(booking.endMoment)]]</td>
			<td ng-click="viewBooking(booking)">
				<i ng-if="booking.isPending() === true" class="pending-icon"></i>
				<i ng-if="booking.isValidated() === true" class="validated-icon"></i>
				<i ng-if="booking.isRefused() === true" class="refused-icon"></i>
				<i ng-if="booking.isSuspended() === true" class="suspended-icon"></i>
			</td>
			<td ng-click="viewBooking(booking)"></td>
		</tr>
		<tr ng-repeat="slot in booking.slots">
			<td class="invisible"></td>
			<td><input type="checkbox" ng-if="canDeleteBookingDateCheck(slot.endMoment)" ng-model="slot.selected" /></td>
			<td class="[[booking.color]]"></td>
			<td></td>
			<td ng-click="viewBooking(slot)">[[booking.owner_name]]</td>
			<td ng-click="viewBooking(slot)">[[booking.resource.name]]</td>
			<td ng-click="viewBooking(slot)">[[formatMoment(slot.startMoment)]]</td>
			<td ng-click="viewBooking(slot)">[[formatMoment(slot.endMoment)]]</td>
			<td ng-click="viewBooking(slot)">
				<i ng-if="slot.isPending() === true" class="pending-icon"></i>
				<i ng-if="slot.isValidated() === true" class="validated-icon"></i>
				<i ng-if="slot.isRefused() === true" class="refused-icon"></i>
				<i ng-if="slot.isSuspended() === true" class="suspended-icon"></i>
			</td>
			<td></td>
		</tr>
	</tbody>
	<tbody ng-if="bookings.empty() === true">
		<tr><td colspan="9" class="invisible"><i18n>rbs.bookings.empty</i18n></td></tr>
	</tbody>
</table>
