<!-- Lightbox -->
<div ng-if="display.showPanel">
	<lightbox-plus show="display.showPanel" on-close="closeBooking()">
		<container template="lightbox"></container>
	</lightbox-plus>
</div>

<section class="cell three">

	<button ng-click="showManage()"><i18n>rbs.navigation.manage</i18n></button>

	<h2><i18n>rbs.selector.mine</i18n></h2>

	<nav class="vertical row">
		<ul>
			<li>
				<a ng-click="switchSelectMine()" ng-class="{ selected: mine.selected === true }"><i18n>rbs.selector.mine.button</i18n></a>
			</li>
		</ul>
	</nav>

	<h2><i18n>rbs.selector.resources</i18n></h2>

	<nav class="vertical row">
		<ul>
			<li ng-repeat="resourceType in resourceTypes.all">
				<a ng-click="switchExpand(resourceType)">[[resourceType.name]]</a>
				<ul ng-if="resourceType.expanded === true">
					<li ng-repeat="resource in resourceType.resources.all">
						<a ng-click="switchSelect(resource)" ng-class="{ selected: resource.selected === true }">[[resource.name]]</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>

	<h2><i18n>rbs.selector.unprocessed</i18n></h2>

	<nav class="vertical row">
		<ul>
			<li>
				<a ng-click="switchSelectUnprocessed()" ng-class="{ selected: unprocessed.selected === true }"><i18n>rbs.selector.unprocessed.button</i18n></a>
			</li>
		</ul>
	</nav>
</section>

<section class="cell nine">
	<div class="row">
		<button ng-click="newBooking()"><i18n>rbs.booking.create</i18n></button>

		<div class="display-buttons">
			<i class="show-list" ng-class="{ selected: display.list === true }" ng-click="displayList()"></i>
			<i class="show-icons" ng-class="{ selected: display.list === false }" ng-click="displayCalendar()"></i>
		</div>
	</div>
	<div class="row">
		<container template="bookings"></container>
	</div>
</section>

<section class="toggle-buttons" ng-class="{ hide: bookings.selection().length === 0 }">
	<div class="toggle block-container">
		<div class="row">
			<button ng-if="bookings.selection().length === 1"
					ng-click="editBooking()">
				<i18n>edit</i18n>
			</button>
			<button ng-click="removeBookingSelection()"><i18n>remove</i18n></button>
			<button ng-click="validateBookingSelection()"><i18n>rbs.booking.validate</i18n></button>
			<button ng-click="refuseBookingSelection()"><i18n>rbs.booking.refuse</i18n></button>
		</div>
	</div>
</section>