<filters>
	<li ng-class="{ selected: bookings.filters.mine }">
		<label>
			<i class="mine" tooltip="rbs.selector.mine"></i>
			<input type="checkbox" ng-model="mine.selected" ng-change="switchSelectMine()" />
		</label>
	</li>
	<li ng-class="{ selected: bookings.filters.unprocessed }" workflow="rbs.validator">
		<label>
			<i class="pending-action" tooltip="rbs.selector.unprocessed"></i>
			<input type="checkbox" ng-model="selectUnprocessed" ng-change="switchSelectUnprocessed()" />
		</label>
	</li>
</filters>

<div class="row" ng-if="display.create">
	<calendar 
		display-template="display-calendar-item" 
		create-template="edit-booking"
		on-create-open="newBookingCalendar(newItem)"
		on-create-close="closeBooking()" 
		items="bookings.filtered">
	</calendar>
</div>

<div class="row" ng-if="! display.create">
	<calendar 
		display-template="display-calendar-item" 
		on-create-open="newBookingCalendar(newItem)"
		on-create-close="closeBooking()" 
		items="bookings.filtered">
	</calendar>
</div>