<filters>
	<li ng-class="{ selected: bookings.filters.mine }">
		<label>
			<i class="mine" tooltip="rbs.selector.mine"></i>
			<input type="checkbox" ng-model="mine.selected" ng-change="switchSelectMine()" />
		</label>
	</li>
	<li ng-class="{ selected: bookings.filters.unprocessed }" workflow="rbs.validator">
		<label>
			<i class="pending-action" tooltip="rbs.selector.unprocessed"></i>
			<input type="checkbox" ng-model="selectUnprocessed" ng-change="switchSelectUnprocessed()" />
		</label>
	</li>
	<li class="changeWeekButton">
		<button  class="changeWeekButtonBack" ng-click="previousWeekButton(); ">&#8592;</button>
		<button class="changeWeekButtonNext" ng-click="nextWeekButton(); ">&#8594;</button>
	</li>
</filters>

<div class="row" ng-if="display.create">
	<calendar
		display-template="display-calendar-item"
		create-template="edit-booking"
		item-tooltip-template="calendarItemTooltipTpl"
		on-create-open="newBookingCalendar(newItem)"
		on-create-close="closeBooking()"
		items="bookings.filtered">
	</calendar>
</div>

<div class="row" ng-if="! display.create">
	<calendar
		display-template="display-calendar-item"
		item-tooltip-template="calendarItemTooltipTpl"
		on-create-open="newBookingCalendar(newItem)"
		on-create-close="closeBooking()"
		items="bookings.filtered">
	</calendar>
</div>


<script type="text/ng-template" id="calendarItemTooltipTpl">
  <div class="content">Name: {{item.resource.name}}, Test: {{ 1 + 1 }}</div>
</script>