<div class="row">
	<div class="cell three" ng-class="{disabled: bookings.filters.dates !== true}">
		&nbsp;<i18n>rbs.filters.date.from</i18n>
		<date-picker-icon ng-model="bookings.filters.startDate" ng-change="filterListByDates(true)" class="cell"></date-picker-icon>
		[[formatMomentDayLong(bookings.filters.startMoment)]]
	</div>
	<div class="cell three" ng-class="{disabled: bookings.filters.dates !== true}">
		&nbsp;<i18n>rbs.filters.date.to</i18n>
		<date-picker-icon ng-model="bookings.filters.endDate" ng-change="filterListByDates(true)" class="cell"></date-picker-icon>
		[[formatMomentDayLong(bookings.filters.endMoment)]]
	</div>
	<div class="cell three">
		<button ng-if="bookings.filters.dates === true" ng-click="filterListByDates(false)" class="cancel"><i18n>rbs.filters.date.all</i18n></button>
		<button ng-if="bookings.filters.dates !== true" ng-click="filterListByDates(true)"><i18n>rbs.filters.date.all</i18n></button>
	</div>
</div>
<table class="list-view colored">
	<thead>
		<tr>
			<th><input type="checkbox" ng-model="display.selectAllBookings" ng-change="switchSelectAllBookings()" /></th>
			<th></th>
			<th></th>
			<th><a ng-click="switchSortBy('owner_name')" ng-class="{selected: sort.predicate === 'owner_name'}"><i18n>rbs.booking.headers.owner</i18n></a></th>
			<th><a ng-click="switchSortBy('resource.name')" ng-class="{selected: sort.predicate === 'resource.name'}"><i18n>rbs.booking.headers.resource</i18n></a></th>
			<th><a ng-click="switchSortBy('start_date')" ng-class="{selected: sort.predicate === 'start_date'}"><i18n>rbs.booking.headers.start_date</i18n></a></th>
			<th><a ng-click="switchSortBy('end_date')" ng-class="{selected: sort.predicate === 'end_date'}"><i18n>rbs.booking.headers.end_date</i18n></a></th>
			<th><a ng-click="switchSortBy('booking_reason')" ng-class="{selected: sort.predicate === 'booking_reason'}"><i18n>rbs.booking.headers.reason</i18n></a></th>
			<th colspan="2"><a ng-click="switchSortBy('status')" ng-class="{selected: sort.predicate === 'status'}"><i18n>rbs.booking.headers.status</i18n></a></th>
		</tr>
	</thead>
	<tbody ng-repeat="booking in bookings.filtered | orderBy:sort.predicate:sort.reverse">
		<tr>
			<td><input type="checkbox" ng-model="booking.selected" ng-change="switchSelectAllSlots(booking)"/></td>
			<td class="icon [[booking.color]]" ng-click="viewBooking(booking)"></td>
			<td>
				<a ng-if="booking.is_periodic === true && booking.expanded !== true" ng-click="expandPeriodicBooking(booking)"><span class="badge">+</span></a>
				<a ng-if="booking.is_periodic === true && booking.expanded === true" ng-click="collapsePeriodicBooking(booking)"><span class="badge">-</span></a>
			</td>
			<td ng-click="viewBooking(booking)">[[booking.owner_name]]</td>
			<td ng-click="viewBooking(booking)">[[booking.resource.name]]</td>
			<td ng-click="viewBooking(booking)">[[formatMoment(booking.startMoment)]]</td>
			<td ng-click="viewBooking(booking)">[[formatMoment(booking.endMoment)]]</td>
			<td ng-click="viewBooking(booking)">[[trimReason(booking.booking_reason)]]</td>
			<td ng-click="viewBooking(booking)">
				<i ng-if="booking.status === 1" class="pending-icon"></i>
				<i ng-if="booking.status === 2" class="validated-icon"></i>
				<i ng-if="booking.status === 3" class="refused-icon"></i>
			</td>
			<td ng-click="viewBooking(booking)"><i ng-if="booking.resource.is_available !== true" class="long-badge"><i18n>rbs.booking.resource.unavailable</i18n></i></td>
		</tr>
		<tr ng-repeat="slot in booking.slots">
			<td class="invisible"></td>
			<td><input type="checkbox" ng-model="slot.selected" /></td>
			<td ng-class="booking.color"></td>
			<td></td>
			<td></td>
			<td ng-click="viewBooking(slot)">[[formatMoment(slot.startMoment)]]</td>
			<td ng-click="viewBooking(slot)">[[formatMoment(slot.endMoment)]]</td>
			<td ng-click="viewBooking(slot)">[[trimReason(booking.booking_reason)]]</td>
			<td ng-click="viewBooking(slot)">
				<i ng-if="slot.status === 1" class="pending-icon"></i>
				<i ng-if="slot.status === 2" class="validated-icon"></i>
				<i ng-if="slot.status === 3" class="refused-icon"></i>
			</td>
			<td></td>
		</tr>
	</tbody>
	<tbody ng-if="bookings.empty() === true">
		<tr><td colspan="9" class="invisible"><i18n>rbs.bookings.empty</i18n></td></tr>
	</tbody>
</table>