<section class="cell four">

	<button ng-click="showMain()"><i18n>rbs.navigation.main</i18n></button>

	<hr />

	<h2><i18n>rbs.manage.types</i18n></h2>

	<nav class="vertical row">
		<ul>
			<li ng-repeat="resourceType in resourceTypes.all">
				<a ng-click="selectResourceType(resourceType)" ng-class="{ selected: resourceType === currentResourceType }">[[resourceType.name]]</a>
			</li>
		</ul>
	</nav>

	<hr />

	<div class="row">
		<button ng-click="newResourceType()"><i18n>rbs.manage.type.create</i18n></button>
	</div>
</section>

<section class="cell eight">
	
	<div class="row">
		<container template="resources"></container>
	</div>
</section>

<!-- Lightbox : Thread share -->
<div ng-if="display.showPanel">
	<lightbox show="display.showPanel" on-close="display.showPanel = false;">
		<share-panel app-prefix="'rbs'" resources="currentResourceType"></share-panel>
	</lightbox>
</div>

<behaviour name="manage" resource="currentResourceType">
	<section class="toggle-buttons" ng-class="{ hide: (currentResourceType === undefined || currentResourceType.resources.selection().length !== 0) }">
		<div class="toggle block-container">
			<div class="row">
				<button ng-click="editCurrentResourceType()"><i18n>rbs.manage.type.edit</i18n></button>
				<button ng-click="deleteCurrentResourceType()"><i18n>rbs.manage.type.remove</i18n></button>
				<button ng-click="shareCurrentResourceType()"><i18n>rbs.manage.type.share</i18n></button>
			</div>
		</div>
	</section>

	<section class="toggle-buttons" ng-class="{ hide: (currentResourceType === undefined || currentResourceType.resources.selection().length === 0) }">
		<div class="toggle block-container">
			<div class="row">
				<button ng-if="currentResourceType.resources.selection().length === 1"
						ng-click="editSelectedResource()">
					<i18n>rbs.manage.resource.edit</i18n>
				</button>
				<button ng-if="currentResourceType.resources.selection().length === 1"
						ng-click="resources.removeSelection()">
					<i18n>rbs.manage.resource.remove</i18n>
				</button>
				<button ng-if="currentResourceType.resources.selection().length > 1"
						disabled class="disabled">
					<i18n>rbs.manage.resource.edits</i18n>
				</button>
				<button ng-if="currentResourceType.resources.selection().length > 1"
						ng-click="resources.removeSelection()">
					<i18n>rbs.manage.resource.removes</i18n>
				</button>
			</div>
		</div>
	</section>
</behaviour>