<!-- Lightbox -->
<div ng-if="display.showPanel">
	<lightbox-plus show="display.showPanel" on-close="closeActionErrors()">
		<container template="lightbox"></container>
	</lightbox-plus>
</div>

<section class="cell three">
	<nav class="vertical row">
		<ul>
			<li ng-repeat="resourceType in resourceTypes.all">
				<a ng-click="selectResourceType(resourceType)" ng-class="{ selected: resourceType === currentResourceType && editedResourceType !== resourceType }">[[resourceType.name]]</a>

				<ul ng-if="resourceType === currentResourceType">
					<li>
						<behaviour name="manage" resource="currentResourceType">
							<a ng-click="editCurrentResourceType()" ng-class="{ selected: resourceType === currentResourceType && resourceType === editedResourceType
							&& !template.contains('resources', 'confirm-delete-type') }">
								<i18n>edit</i18n>
							</a>
						</behaviour>
					</li>
					<li>
						<behaviour name="manage" resource="currentResourceType">
							<a ng-click="deleteCurrentResourceType()" ng-class="{ selected: resourceType === currentResourceType && resourceType === editedResourceType
							&& template.contains('resources', 'confirm-delete-type') }">
								<i18n>remove</i18n>
							</a>
						</behaviour>
					</li>
				</ul>
			</li>
		</ul>
		<a class="classic-link" workflow="rbs.typemanage" ng-click="newResourceType()"><i18n>rbs.manage.type.create</i18n></a>
	</nav>

	<hr />
</section>

<section class="cell nine">
	<div>
		<container template="resources"></container>
	</div>
</section>

<!-- Lightbox : Thread share -->
<div ng-if="display.showPanel">
	<lightbox show="display.showPanel" on-close="display.showPanel = false;">
		<share-panel app-prefix="'rbs'" resources="currentResourceType"></share-panel>
	</lightbox>
</div>

<section class="toggle-buttons" ng-class="{ hide: (currentResourceType === undefined || currentResourceType.resources.selection().length === 0) }">
	<div class="toggle">
		<div class="row">
			<behaviour name="process" resource="currentResourceType" class="cell">
				<button ng-if="currentResourceType.resources.selection().length === 1"
						ng-click="editSelectedResource()">
					<i18n>rbs.manage.resource.edit</i18n>
				</button>
				<button ng-if="currentResourceType.resources.selection().length > 1"
						disabled class="disabled">
					<i18n>rbs.manage.resource.edits</i18n>
				</button>
			</behaviour>
			<behaviour name="manage" resource="currentResourceType" class="cell">
				<button ng-if="currentResourceType.resources.selection().length === 1"
						ng-click="deleteResourcesSelection()">
					<i18n>rbs.manage.resource.remove</i18n>
				</button>
				<button ng-if="currentResourceType.resources.selection().length > 1"
						ng-click="deleteResourcesSelection()">
					<i18n>rbs.manage.resource.removes</i18n>
				</button>
			</behaviour>
		</div>
	</div>
</section>