<h3>[[currentResourceType.name]]</h3>

<article class="row">
	<div class="row">
		<label class="cell four"><i18n>rbs.type.details.school.label</i18n></label>
		<p class="cell eight">[[currentResourceType.school_id]]</p>
	</div>
	<hr />

	<div class="row">
		<label class="cell four"><i18n>rbs.type.details.validation.label</i18n></label>
		<p class="cell two" ng-if="currentResourceType.validation === true"><i18n>rbs.type.details.validation.true</i18n></p>
		<p class="cell two" ng-if="currentResourceType.validation !== true"><i18n>rbs.type.details.validation.false</i18n></p>
	</div>
</article>
<hr />

<h3><i18n>rbs.type.details.resources</i18n></h3>

<table class="list-view twelve">
	<thead>
		<tr>
			<th class="one"><input type="checkbox" ng-model="display.selectAllRessources" ng-change="swicthSelectAllRessources()" /></th>
			<th class="nine"><i18n>rbs.manage.resource.name</i18n></th>
			<th class="two"><i18n>rbs.manage.resource.icon</i18n></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="resource in currentResourceType.resources.all">
			<td class="one"><input type="checkbox" ng-model="resource.selected" /></td>
			<td class="nine">[[resource.name]]</td>
			<td class="two">[[resource.icon]]</td>
		</tr>
	</tbody>
</table>

<hr />

<div class="row">
	<button ng-click="newResource()"><i18n>rbs.manage.resource.create</i18n></button>
</div>