<div class="three cell">
	<h1>
		<i class="rbs"></i>
		<a ng-click="showCalendar(display.admin)">
			<i18n>rbs.title</i18n>
		</a>
	</h1>
</div>

<div class="nine cell display-buttons">
	<div class="row">
		<button ng-if="(!display.admin) && display.create" class="cell" ng-click="newBooking()"><i18n>rbs.booking.create</i18n></button>
		<button ng-if="(!display.admin)" class="cell" ng-click="exportForm()"><i18n>rbs.booking.export</i18n></button>

		<i class="show-list" ng-class="{ selected: display.list === true }" ng-click="showList(display.admin)"
		tooltip="rbs.icon.show.booking.list"></i>
		<i class="show-calendar" ng-class="{ selected: display.list === false }" ng-click="showCalendar(display.admin)"
		tooltip="rbs.icon.show.booking.calendar"></i>
		<i class="show-admin" ng-click="showManage()" ng-class="{ selected: display.admin === true }"
		ng-if="hasWorkflowOrAnyResourceHasBehaviour('rbs.typemanage', 'publish')"
		tooltip="rbs.icon.show.manage.type.and.resource"></i>

	</div>
</div>
