<div class="row"  guard-root>
	<h2 ng-if="editedResource.id === undefined"><i18n>rbs.resource.new</i18n></h2>
	<h2 ng-if="editedResource.id !== undefined"><i18n>rbs.resource.edit</i18n>[[editedResource.name]]</h2>

	<form reset-guard="saveResource()">
	<article class="twelve cell">
		<div class="row">
			<div class="row">
				<label class="three cell"><i18n>rbs.resource.edit.structure.label</i18n></label>
				<span class="nine cell" translate content="[[editedResource.type.structure.name]]"></span>
			</div>
		</div>
		<div class="row">
			<label class="three cell"><i18n>rbs.resource.edit.type.label</i18n></label>
			<select class="nine cell" ng_init="editedResource.type = currentResourceType" ng-model="editedResource.type" ng-change="resourceTypeModified()"
				ng-options="resourceType.name for resourceType in resourceTypes.all | filter:keepManageableResourceTypes" required input-guard>
			</select>
		</div>
		<div class="row">
			<label class="three cell"><i18n>rbs.resource.edit.name.label</i18n></label>
			<input class="nine cell" type="text" i18n-placeholder="rbs.resource.edit.name.placeholder" ng-model="editedResource.name" required input-guard/>
		</div>

		<!-- prevent interacting with checkbox since it is auto set with type of resource -->
		<div class="row">
			<label class="nine cell right-magnet">
				<input type="checkbox" data-ng-model="editedResource.validation" ng-disabled="true"/>
				<span style="cursor: default">
					<i18n>type.form.validation.required</i18n>
				</span>
			</label>
		</div>
		<div class="row">
			<label class="nine cell right-magnet">
				<input type="checkbox" name="is_available" data-ng-model="editedResource.is_available" input-guard/>
				<span><i18n>rbs.resource.edit.is_available.label</i18n></span>
			</label>
		</div>
		<div class="row">
			<label class="nine cell right-magnet">
				<input type="checkbox" name="periodic_booking" data-ng-model="editedResource.periodic_booking" input-guard/>
				<span><i18n>rbs.resource.edit.periodic_booking.label</i18n></span>
			</label>
		</div>

		<div>
			<div class="row">
				<label class="nine cell right-magnet">
					<input type="checkbox" ng-model="editedResource.hasMinDelay" input-guard/>
					<span><i18n>rbs.resource.edit.add.min_delay</i18n></span>
				</label>
			</div>
			<div ng-if="editedResource.hasMinDelay === true" class="row">
				<span class="nine cell right-magnet">
					<i18n>rbs.resource.must.be.booked.at.least</i18n>&nbsp;
					<select ng-model="editedResource.min_delay" ng-options="daysToSeconds(day) as day for day in delayDays" input-guard>
					</select>
					&nbsp;<i18n>rbs.resource.days.in.advance</i18n>.
				</span>
			</div>
		</div>
		<div>
			<div class="row">
				<label class="nine cell right-magnet">
					<input type="checkbox" ng-model="editedResource.hasMaxDelay" input-guard/>
					<i18n>rbs.resource.edit.add.max_delay</i18n>
				</label>
			</div>
			<div ng-if="editedResource.hasMaxDelay === true" class="row">
				<span class="nine cell right-magnet">
					<i18n>rbs.resource.can.be.booked.at.most</i18n>&nbsp;
					<select ng-model="editedResource.max_delay" ng-options="daysToSeconds(day) as day for day in delayDays" input-guard>
					</select>
					&nbsp;<i18n>rbs.resource.days.in.advance</i18n>.
				</span>
			</div>
		</div>

		<!-- Quantity -->
		<hr/>
		<div class="row">
			<label class="three cell"><i18n>rbs.resource.edit.quantity.label</i18n></label>
			<input class="input-size" type="number" min="0" ng-model="editedResource.quantity"
				   ng-change="syncBookingsUsingResource(editedResource)"/>
		</div>

		<div class="warning default-fontsize top-spacing-three" ng-if="bookingsConflictingResource.length > 0">
			<div>
				<i18n>rbs.resource.edit.quantity.warning</i18n>
				<input type="checkbox" id="quantity-details" class="transparent" ng-model="quantityChecked" />
				<label class="right-magnet pointer blue" for="quantity-details"><i18n>rbs.resource.edit.details</i18n></label>
			</div>
			<div ng-if="quantityChecked">
				<table class="resource-table">
					<thead>
					<tr>
						<td style="width: 30%;"><i18n>rbs.resource.edit.tab.owner</i18n></td>
						<td style="width: 30%;"><i18n>rbs.resource.edit.tab.date.start</i18n></td>
						<td style="width: 30%;"><i18n>rbs.resource.edit.tab.date.end</i18n></td>
						<td style="width: 10%;"><i18n>rbs.resource.edit.tab.quantity</i18n></td>
					</tr>
					</thead>
					<tbody>
					<tr ng-repeat="booking in bookingsConflictingResource">
						<td>[[booking.owner_name]]</td>
						<td>[[formatMoment(booking.startMoment)]]</td>
						<td>[[formatMoment(booking.endMoment)]]</td>
						<td>[[booking.quantity]]</td>
					</tr>
					</tbody>
				</table>
			</div>
		</div>

		<!-- Available periods -->
		<div class="row top-spacing-three">
			<label class="cell" for="availability">
				<input type="checkbox" id="availability" ng-model="openAvailabilitiesTable" ng-change="initEditedAvailability()"/>
				<i18n ng-if="!editedResource.is_available">rbs.resource.edit.available.label</i18n>
				<i18n ng-if="editedResource.is_available">rbs.resource.edit.unavailable.label</i18n>
			</label>
			<div class="row cell" ng-if="openAvailabilitiesTable"
				 ng-include="'/rbs/public/template/resource/availability/availability-table.html'"></div>
		</div>
		<hr/>

<!--		<div class="warning default-fontsize"  ng-if="isResourceAvailabilityUsed()">-->
<!--			<div>-->
<!--				<i18n>rbs.resource.edit.available.warning</i18n>-->
<!--				<input type="checkbox" id="availability-details" class="transparent" ng-model="availabilityChecked" />-->
<!--				<label class="right-magnet pointer blue" for="availability-details"><i18n>rbs.resource.edit.details</i18n></label>-->
<!--			</div>-->
<!--			<div ng-if="availabilityChecked">-->
<!--				<table class="resource-table">-->
<!--					<thead>-->
<!--					<tr>-->
<!--						<td style="width: 30%;"><i18n>rbs.resource.edit.tab.owner</i18n></td>-->
<!--						<td style="width: 30%;"><i18n>rbs.resource.edit.tab.date.start</i18n></td>-->
<!--						<td style="width: 30%;"><i18n>rbs.resource.edit.tab.date.end</i18n></td>-->
<!--						<td style="width: 10%;"><i18n>rbs.resource.edit.tab.quantity</i18n></td>-->
<!--					</tr>-->
<!--					</thead>-->
<!--					<tbody>-->
<!--					<tr ng-repeat="booking in listBookingsConflictingAvailability">-->
<!--						<td>[[booking.owner_name]]</td>-->
<!--						<td>[[formatMoment(booking.startMoment)]]</td>-->
<!--						<td>[[formatMoment(booking.endMoment)]]</td>-->
<!--						<td>[[booking.quantity]]</td>-->
<!--					</tr>-->
<!--					</tbody>-->
<!--				</table>-->
<!--			</div>-->
<!--		</div>-->

		<!-- Color -->
		<hr/>
		<div class="row">
			<label class="three cell"><i18n>rbs.resource.edit.color.label</i18n></label>
			<input class="resourceColor" type="color" ng-model="editedResource.color" input-guard/>
		</div>
		<hr class="row" />
		
		<div class="row">
			<label class="twelve cell"><i18n>rbs.resource.edit.description.label</i18n></label>
			<editor ng-model="editedResource.description" input-guard></editor>
		</div>

		<div class="warning" ng-repeat="actionError in currentErrors" translate content="[[actionError.error]]">
		</div>

		<div class="row">
			<button class="right-magnet" ng-if="display.processing !== true" ng-disabled="editedResource.quantity < -1"><i18n>rbs.save</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="closeResource()" ng-if="display.processing !== true" />

			<button class="right-magnet cancel disabled" disabled ng-if="display.processing"><i18n>rbs.processing</i18n></button>
		</div>
	</article>
	</form>
</div>

<!-- Lightboxes -->
<div ng-include="'/rbs/public/template/resource/confirm-quantity-resource.html'"></div>
<div ng-include="'/rbs/public/template/resource/availability/confirm-save-availability.html'"></div>
<div ng-include="'/rbs/public/template/resource/availability/confirm-delete-availability.html'"></div>