<div ng-if="(resourceTypes.all | filter:keepManageableResourceTypes).length > 0" class="cell">
	<button ng-click="newResource()"><i18n>rbs.manage.resource.create</i18n></button>
</div>

<article class="twelve cell form-article" ng-if="resourceTypes.empty() !== true">

	<table class="list-view twelve">
		<thead>
			<tr>
				<th>
					<input type="checkbox"
						ng-model="display.selectAllRessources" 
						ng-change="swicthSelectAllRessources()"
						ng-show="resourceTypes.selection().length === 0"
						ng-click="resourceTypes.deselectAll()"/>
				</th>
				<th class="two"><i18n>rbs.manage.resource.name</i18n></th>
				<th class="two"><i18n>rbs.manage.resource.validation</i18n></th>
				<th class="two"><i18n>rbs.manage.resource.is_available</i18n></th>
				<th class="two"><i18n>rbs.manage.resource.periodic_booking</i18n></th>
				<th class="two"><i18n>rbs.manage.resource.min_delay</i18n></th>
				<th class="two"><i18n>rbs.manage.resource.max_delay</i18n></th>
			</tr>
		</thead>
		<tbody ng-repeat="resource in currentResourceType.resources.all">
			<tr>
				<td><input type="checkbox" ng-model="resource.selected" ng-click="resourceTypes.deselectAll()" ng-show="resourceTypes.selection().length === 0" /></td>
				<td class="two">
					<a ng-click="switchExpandResource(resource)">[[resource.name]]</a>
				</td>
				<td class="two">
					<a ng-click="switchExpandResource(resource)">
						<i18n ng-if="resource.validation === true">rbs.manage.resource.validation.true</i18n>
						<i18n ng-if="resource.validation !== true">rbs.manage.resource.validation.false</i18n>
					</a>
				</td>
				<td class="two">
					<a ng-click="switchExpandResource(resource)">
						<i18n ng-if="resource.is_available === true">rbs.manage.resource.is_available.true</i18n>
						<i18n ng-if="resource.is_available !== true">rbs.manage.resource.is_available.false</i18n>
					</a>
				</td>
				<td class="two">
					<a ng-click="switchExpandResource(resource)">
						<i18n ng-if="resource.periodic_booking === true">rbs.manage.resource.periodic_booking.true</i18n>
						<i18n ng-if="resource.periodic_booking !== true">rbs.manage.resource.periodic_booking.false</i18n>
					</a>
				</td>
				<td class="two">
					<a ng-click="switchExpandResource(resource)">
						<span ng-if="resource.min_delay">
							[[secondsToDays(resource.min_delay)]]
							&nbsp;<i18n>rbs.manage.resource.days</i18n>
						</span>
						<span ng-if="!resource.min_delay">
							<i18n>rbs.manage.resource.delay.undefined</i18n>
						</span>
					</a>
				</td>
				<td class="two">
					<a ng-click="switchExpandResource(resource)">
						<span ng-if="resource.max_delay">
							[[secondsToDays(resource.max_delay)]]
							&nbsp;<i18n>rbs.manage.resource.days</i18n>
						</span>
						<span ng-if="!resource.max_delay">
							<i18n>rbs.manage.resource.delay.undefined</i18n>
						</span>
					</a>
				</td>
			</tr>
			<tr ng-if="resource.expanded === true" class="minor">
				<td class="invisible"></td>
				<td colspan="3">
					<div class="row form-element">
						<p class="twelve cell uneditable" bind-html="resource.description"></p>
					</div>
				</td>
			</tr>
		</tbody>
		<tbody ng-if="currentResourceType.resources.empty() === true">
			<tr><td colspan="4" class="invisible"><i18n>rbs.manage.resources.empty</i18n></td></tr>
		</tbody>
	</table>
	<hr />
</article>

<article class="twelve cell form-article" ng-if="resourceTypes.empty() === true">
	<i18n>rbs.manage.types.empty</i18n>
</article>
