<div class="row">
	<article class="twelve cell">
		<h2 ng-if="processBookings.length === 1"><i18n>rbs.booking.delete.confirm.one</i18n></h2>
		<h2 ng-if="processBookings.length > 1"><i18n>rbs.booking.delete.confirm.multi</i18n></h2>

		<div class="row scrollable-content">
			<table class="list-view colored">
				<thead>
					<tr>
						<th colspan="3"></th>
						<th><i18n>rbs.booking.headers.owner</i18n></th>
						<th><i18n>rbs.booking.headers.resource</i18n></th>
						<th><i18n>rbs.booking.headers.start_date</i18n></th>
						<th><i18n>rbs.booking.headers.end_date</i18n></th>
						<th><i18n>rbs.booking.headers.status</i18n></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="booking in processBookings | orderBy:'id'">
						<td class="icon" style="color:red"><em ng-if="currentBookingSelected === booking" >*</em></td>
						<td class="icon" style="background:[[booking.color]]"></td>
						<td><i ng-if="booking.isSlot()" class="periodic-icon"></i></td>
						<td>[[booking.owner_name]]</td>
						<td>[[booking.resource.name]]</td>
						<td>[[formatMoment(booking.startMoment)]]</td>
						<td>[[formatMoment(booking.endMoment)]]</td>
						<td>
							<i18n ng-if="booking.status === status.STATE_CREATED">rbs.booking.status.created</i18n>
							<i18n ng-if="booking.status === status.STATE_VALIDATED">rbs.booking.status.validated</i18n>
							<i18n ng-if="booking.status === status.STATE_REFUSED">rbs.booking.status.refused</i18n>
							<i18n ng-if="booking.status === status.STATE_SUSPENDED">rbs.booking.status.suspended</i18n>
							<i18n ng-if="booking.status === status.STATE_PARTIAL">rbs.booking.status.partial</i18n>
						</td>
					</tr>
					<tr ng-if="processBookings.length === 0"><td colspan="6" class="invisible"><i18n>rbs.bookings.selected.empty</i18n></td></tr>
				</tbody>
			</table>
			<em style="color:red; margin-right:10px ">*</em><i18n>rbs.booking.periodic.delete.details</i18n>
		</div>

		<div class="row">
			<p><i18n>rbs.booking.delete.details</i18n></p>
		</div>

		<div class="row">
			<button class="right-magnet" ng-click="doRemoveCurrentPeriodicBookingSelection()" ng-if="display.processing !== true && processBookings.length > 0"><i18n>rbs.booking.periodic.delete.this_occurrence</i18n></button>
			<button class="right-magnet" ng-click="doRemoveCurrentAndFuturBookingSelection()" ng-if="display.processing !== true && processBookings.length > 0"><i18n>rbs.booking.periodic.delete.this_and_future_occurrence</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="closeBooking()" ng-if="display.processing !== true" />

			<button class="right-magnet cancel disabled" disabled ng-if="display.processing === true"><i18n>rbs.deleting</i18n></button>
		</div>
	</article>
</div>
