<booking-form today="today"
              structures-with-types="structuresWithTypes"
              shared-structure="sharedStructure"
              periods="periods"
              slots="slots"
              resource-types="resourceTypes"
              display="display"
              booking="booking"
              current-errors="currentErrors"
              show-day-selection="showDaysSelection"
              selected-booking="selectedBooking"
              slot-profiles-component="slotProfilesComponent"
              bookings="bookings"
              process-bookings="processBookings">
</booking-form>