<booking-state-action
		on-show-action-errors="showActionErrors()"
		status="status"
		current-errors="currentErrors"
		template-path-state="'refuse-booking'"
		bookings="bookings"
		display="display"
		selected-booking="selectedBooking"
		is-view-booking="isViewBooking"
		current-booking-selected="currentBookingSelected"
		process-bookings="processBookings"
		on-sync-and-treat-bookings-using-resource="syncAndTreatBookingsUsingResource"
		bookings-conflicting-resource="bookingsConflictingResource"
		bookings-ok-resource="bookingsOkResource">
</booking-state-action>