<div class="row">
    <h2>
        <i18n>rbs.booking.title</i18n>
    </h2>

    <div class="row accordions">
        <!-- 1. Booking details -->
        <article class="accordion" ng-class="{ opened: vm.selectedBooking.displaySection === 1 }">

            <h2 ng-click="vm.selectedBooking.displaySection = 1;">
                <i18n>rbs.booking.title.booking</i18n>
                <span class="right-magnet"
                      ng-if="vm.selectedBooking.displaySection !== 1 && vm.selectedBooking.is_periodic !== true">
					<i18n>rbs.booking.details.header.from</i18n>&nbsp;[[vm.formatMoment(vm.selectedBooking.startMoment)]]&nbsp;
					<i18n>rbs.booking.details.header.to</i18n>&nbsp;[[vm.formatMoment(vm.selectedBooking.endMoment)]]
				</span>
                <span class="right-magnet"
                      ng-if="vm.selectedBooking.displaySection !== 1 && vm.selectedBooking.is_periodic === true">
					<i18n>rbs.booking.details.header.periodic</i18n>&nbsp;[[vm.formatMoment(vm.selectedBooking.startMoment)]]
				</span>
            </h2>

            <div class="toggle">
                <div class="content">
                    <div class="row details">
                        <div class="six cell form-element">
                            <label class="row">
                                <i18n>rbs.booking.details.start.label</i18n>
                            </label>
                            <p>[[vm.formatMomentLong(vm.selectedBooking.startMoment)]]</p>
                        </div>
                        <div class="six cell form-element">
                            <label class="row">
                                <i18n>rbs.booking.details.end.label</i18n>
                            </label>
                            <p>[[vm.formatMomentLong(vm.selectedBooking.endMoment)]]</p>
                        </div>
                    </div>

                    <div class="row details">
                        <div class="six cell form-element">
                            <label class="row">
                                <i18n>rbs.booking.details.owner.label</i18n>
                            </label>
                            <p>[[vm.selectedBooking.owner_name]]</p>
                        </div>
                        <div class="six cell form-element">
                            <label class="row">
                                <i18n>rbs.booking.details.created.label</i18n>
                            </label>
                            <p>[[vm.formatDateLong(vm.selectedBooking.created)]]</p>
                        </div>
                    </div>

                    <div class="row details">
                        <label class="twelve cell">
                            <i18n>rbs.booking.details.reason</i18n>
                        </label>
                        <p class="twelve cell"
                           ng-if="vm.selectedBooking.booking_reason && vm.selectedBooking.booking_reason !== ''">
                            [[vm.selectedBooking.booking_reason]]</p>
                        <p class="twelve cell placeholder"
                           ng-if="!(vm.selectedBooking.booking_reason && vm.selectedBooking.booking_reason !== '')">
                            <i18n>rbs.booking.details.reason.empty</i18n>
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <!-- 2. Resource details -->
        <article class="accordion" ng-class="{ opened: vm.selectedBooking.displaySection === 2 }">

            <h2 ng-click="vm.selectedBooking.displaySection = 2;">
                <i18n>rbs.booking.title.resource</i18n>
                <span class="right-magnet" ng-if="vm.selectedBooking.displaySection !== 2">
					[[vm.composeTitle(vm.selectedBooking.resource.type.name, vm.selectedBooking.resource.name)]]
				</span>
            </h2>

            <div class="toggle">
                <div class="content">
                    <div class="row details">
                        <div class="four cell">
                            <label class="row">
                                <i18n>rbs.booking.details.type.label</i18n>
                            </label>
                            <p>[[vm.selectedBooking.resource.type.name]]</p>
                        </div>
                        <div class="four cell">
                            <label class="row">
                                <i18n>rbs.booking.details.resource.label</i18n>
                            </label>
                            <p>[[vm.selectedBooking.resource.name]]</p>
                        </div>
                        <div class="four cell">
                            <label class="row">
                                <i18n>rbs.booking.details.quantity</i18n>
                            </label>
                            <p>[[vm.selectedBooking.quantity]]</p>
                        </div>
                    </div>

                    <div class="row details">
                        <label class="twelve cell">
                            <i18n>rbs.booking.details.description.label</i18n>
                        </label>
                        <p class="twelve cell"
                           ng-if="vm.selectedBooking.resource.description && vm.selectedBooking.resource.description !== ''"
                           bind-html="vm.selectedBooking.resource.description"></p>
                        <p class="twelve cell placeholder"
                           ng-if="!(vm.selectedBooking.resource.description && vm.selectedBooking.resource.description !== '')">
                            <i18n>rbs.booking.details.description.empty</i18n>
                        </p>
                    </div>
                </div>
            </div>
        </article>

        <!-- 3. Validation process details -->
        <article ng-if="vm.selectedBooking.is_periodic === true" class="accordion"
                 ng-class="{ opened: vm.selectedBooking.displaySection === 3 }">

            <!-- Title -->
            <h2 ng-click="vm.selectedBooking.displaySection = 3;">
                <i18n>rbs.booking.title.periodic</i18n>
                <span class="right-magnet" ng-if="vm.countRefusedSlots(vm.selectedBooking._slots) <= 1">
					[[vm.countRefusedSlots(vm.selectedBooking._slots)]]&nbsp;<i18n>rbs.booking.details.header.refused.one</i18n>
				</span>
                <span class="right-magnet" ng-if="vm.countRefusedSlots(vm.selectedBooking._slots) > 1">
					[[vm.countRefusedSlots(vm.selectedBooking._slots)]]&nbsp;<i18n>rbs.booking.details.header.refused.many</i18n>
				</span>
                <span class="right-magnet" ng-if="vm.countValidatedSlots(vm.selectedBooking._slots) <= 1">
					[[vm.countValidatedSlots(vm.selectedBooking._slots)]]&nbsp;<i18n>rbs.booking.details.header.validated.one</i18n>&nbsp;-&nbsp;
				</span>
                <span class="right-magnet" ng-if="vm.countValidatedSlots(vm.selectedBooking._slots) > 1">
					[[vm.countValidatedSlots(vm.selectedBooking._slots)]]&nbsp;<i18n>rbs.booking.details.header.validated.many</i18n>&nbsp;-&nbsp;
				</span>
                <span class="right-magnet" ng-if="vm.selectedBooking._slots.length <= 1">
					[[vm.selectedBooking._slots.length]]&nbsp;<i18n>rbs.booking.details.header.slots.one</i18n>&nbsp;-&nbsp;
				</span>
                <span class="right-magnet" ng-if="vm.selectedBooking._slots.length > 1">
					[[vm.selectedBooking._slots.length]]&nbsp;<i18n>rbs.booking.details.header.slots.many</i18n>&nbsp;-&nbsp;
				</span>
            </h2>

            <!-- Body -->
            <div class="toggle">
                <div class="content">
                    <div class="warning row details" ng-if="vm.selectedBooking.hasAtLeastOneSuspendedSlot()">
                        <i18n>rbs.booking.details.suspended.timeslot</i18n><br><br>
                        <i18n>rbs.booking.details.suspended.slots</i18n>
                    </div>

                    <table class="list-view twelve">
                        <thead>
                        <tr>
                            <th>
                                <i18n>rbs.booking.headers.nb</i18n>
                            </th>
                            <th>
                                <i18n>rbs.booking.headers.start_date</i18n>
                            </th>
                            <th>
                                <i18n>rbs.booking.headers.end_date</i18n>
                            </th>
                            <th>
                                <i18n>rbs.booking.headers.moderator</i18n>
                            </th>
                            <th>
                                <i18n>rbs.booking.headers.status</i18n>
                            </th>
                        </tr>
                        </thead>
                        <tbody ng-repeat="slot in vm.selectedBooking._slots | orderBy: 'startMoment'">
                        <tr>
                            <td ng-if="slot.id == vm.currentBookingSelected.id">[[$index + 1]] <em style="color:red">*</em></td>
                            <td ng-if="slot.id != vm.currentBookingSelected.id">[[$index + 1]]</td>
                            <td ng-if="slot.isRefused()"><a ng-click="vm.switchExpandSlot(slot)">[[vm.formatMoment(slot.startMoment)]]</a>
                            </td>
                            <td ng-if="!slot.isRefused()">[[vm.formatMoment(slot.startMoment)]]</td>

                            <td ng-if="slot.isRefused()"><a ng-click="vm.switchExpandSlot(slot)">[[vm.formatMoment(slot.endMoment)]]</a>
                            </td>
                            <td ng-if="!slot.isRefused()">[[vm.formatMoment(slot.endMoment)]]</td>

                            <td ng-if="slot.isPending() || slot.isSuspended()"></td>
                            <td ng-if="slot.isValidated()">[[slot.moderator_name]]</td>
                            <td ng-if="slot.isRefused()"><a
                                    ng-click="vm.switchExpandSlot(slot)">[[slot.moderator_name]]</a></td>

                            <td ng-if="slot.isPending()">
                                <i18n>rbs.booking.status.created</i18n>
                            </td>
                            <td ng-if="slot.isSuspended()">
                                <i18n>rbs.booking.status.suspended</i18n>
                            </td>
                            <td ng-if="slot.isValidated()">
                                <i18n>rbs.booking.status.validated</i18n>
                            </td>
                            <td ng-if="slot.isRefused()"><a ng-click="vm.switchExpandSlot(slot)">
                                <i18n>rbs.booking.status.refused</i18n>
                            </a></td>
                        </tr>
                        <tr ng-if="slot.expanded" class="minor">
                            <td></td>
                            <td colspan="4">
                                <div class="row form-element">
                                    <p class="twelve cell" ng-if="slot.refusal_reason && slot.refusal_reason !== ''"
                                       bind-html="slot.refusal_reason"></p>
                                    <p class="twelve cell placeholder"
                                       ng-if="!(slot.refusal_reason && slot.refusal_reason !== '')">
                                        <i18n>rbs.booking.details.refused.reason.empty</i18n>
                                    </p>
                                </div>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <em style="color:red; margin-right:10px ">*</em>
                    <i18n>rbs.booking.periodic.delete.details</i18n>

                    <div class="row details" ng-if="vm.selectedBooking.hasAtLeastOnePendingSlot()">
                        <p class="four cell">
                            <i18n>rbs.booking.details.pending</i18n>
                        </p>
                        <div class="row" ng-if="vm.selectedBooking.resource.type.moderators">
                            <p class="row">
								<span ng-repeat="moderator in vm.selectedBooking.resource.type.moderators"
                                      class="cell four cell-ellipsis horizontal-spacing-twice"
                                      title="[[moderator.username+' ('+vm.translate(moderator.type)+')']]">
										[[moderator.username]] <em class="small-text">([[vm.translate(moderator.type)]])</em>[[$last ? '' : ', ']]
								</span>
                            </p>
                        </div>
                    </div>

                </div>
            </div>
        </article>

        <article ng-if="vm.selectedBooking.is_periodic !== true" class="accordion"
                 ng-class="{ opened: vm.selectedBooking.displaySection === 3 }">

            <!-- Title -->
            <h2 ng-click="vm.selectedBooking.displaySection = 3;">
                <i18n>rbs.booking.title.process</i18n>
                <span class="right-magnet" ng-if="vm.selectedBooking.isPending()"><i18n>rbs.booking.status.created</i18n></span>
                <span class="right-magnet" ng-if="vm.selectedBooking.isValidated()"><i18n>rbs.booking.status.validated</i18n></span>
                <span class="right-magnet" ng-if="vm.selectedBooking.isRefused()"><i18n>rbs.booking.status.refused</i18n></span>
                <span class="right-magnet" ng-if="vm.selectedBooking.isSuspended()"><i18n>rbs.booking.status.suspended</i18n></span>
            </h2>

            <!-- Body -->
            <div class="toggle">
                <div class="content">
                    <!-- CASE suspended -->
                    <div class="warning row details" ng-if="vm.selectedBooking.isSuspended()">
                        <i18n>rbs.booking.details.suspended.booking</i18n>
                    </div>

                    <!-- CASE pending -->
                    <div class="row details" ng-if="vm.selectedBooking.isPending()">
                        <p class="four cell">
                            <i18n>rbs.booking.details.pending</i18n>
                        </p>
                        <div class="row" ng-if="vm.selectedBooking.resource.type.moderators">
                            <p class="row">
								<span ng-repeat="moderator in vm.selectedBooking.resource.type.moderators">
										[[moderator.username]][[$last ? '' : ', ']]
								</span>
                            </p>
                        </div>
                    </div>

                    <!-- CASE validated -->
                    <div class="row details" ng-if="vm.selectedBooking.isValidated()">
                        <div class="six cell">
                            <label class="row" ng-if="!vm.selectedBooking.type.validation">
                                <i18n>rbs.booking.details.validated.auto</i18n>
                            </label>
                            <label class="row" ng-if="vm.selectedBooking.type.validation">
                                <i18n>rbs.booking.details.validated.moderator.label</i18n>
                            </label>
                            <p ng-if="vm.selectedBooking.type.validation">[[vm.selectedBooking.moderator_name]]</p>
                        </div>
                        <div class="six cell">
                            <label class="row"><i18n>rbs.booking.details.validated.date.label</i18n></label>
                            <p>[[vm.formatDateLong(vm.selectedBooking.modified)]]</p>
                        </div>
                    </div>

                    <!-- CASE refused -->
                    <div ng-if="vm.selectedBooking.isRefused()">
                        <div class="row details"> <!-- WHO and WHEN it was refused -->
                            <div class="six cell">
                                <label class="row"><i18n>rbs.booking.details.refused.moderator.label</i18n></label>
                                <p>[[vm.selectedBooking.moderator_name]]</p>
                            </div>
                            <div class="six cell">
                                <label class="row"><i18n>rbs.booking.details.refused.date.label</i18n></label>
                                <p>[[vm.formatDateLong(vm.selectedBooking.modified)]]</p>
                            </div>
                        </div>
                        <div class="row details"> <!-- WHY it was refused -->
                            <label class="twelve cell"><i18n>rbs.booking.details.refused.reason</i18n></label>
                            <p class="twelve cell"
                               ng-if="vm.selectedBooking.refusal_reason && vm.selectedBooking.refusal_reason !== ''"
                               bind-html="vm.selectedBooking.refusal_reason"></p>
                            <p class="twelve cell placeholder"
                               ng-if="!(vm.selectedBooking.refusal_reason && vm.selectedBooking.refusal_reason !== '')">
                                <i18n>rbs.booking.details.refused.reason.empty</i18n>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
    <hr/>

    <!-- Buttons -->
    <div class="row" ng-if="vm.canDeleteBookingDateCheck(vm.currentBookingSelected.end_date)">
        <div ng-if="vm.hasResourceRight(vm.selectedBooking.resource, 'process')">
            <button class="right-magnet" ng-if="vm.selectedBooking.isPending()" ng-click="vm.refuseBookingSelection()">
                <i18n>rbs.booking.refuse</i18n>
            </button>
            <button class="right-magnet" ng-if="vm.selectedBooking.isPending()" ng-click="vm.validateBookingSelection()">
                <i18n>rbs.booking.validate</i18n>
            </button>
        </div>
        <div ng-if="vm.hasResourceRight(vm.selectedBooking, 'process')">
            <button class="right-magnet" ng-click="vm.removeBookingSelection()">
                <i18n>remove</i18n>
            </button>
            <button class="right-magnet" reset-guard="vm.editBooking()" reset-guard-id="editBookingRoot">
                <i18n>edit</i18n>
            </button>
        </div>
    </div>
</div>
