$rbs-white: #FFFFFF;
$rbs-blue: #0000FF;
$rbs-darkorange: #FF8C00;
$rbs-darkgrey: #555555;
$rbs-dimgrey: #696969;
$rbs-green: #09ac00;
$rbs-red: #dd0000;


body.rbs, .sniplet.rbs {
  @import "components/index";

  .input-size {
    width: 40px;
  }

  .default-fontsize {
    font-size: 16px !important;
  }

  .transparent {
    opacity: 0;
    height: 0;
    width: 0;
  }

  .pointer {
    cursor: pointer;
  }

  .blue {
    color: $rbs-blue;
  }

  .classic-button {
    background: none !important;
    box-shadow: none;
    padding: 0 !important;
    margin: 0 !important;
  }

  .selected {
    font-weight: bold;

    &.green-color {
      color: $rbs-green;
    }

    &.red-color {
      color: $rbs-red;
    }
  }

  .be-careful {
    text-align: center;
    border: 1px solid black;
    padding: 2%;
    margin-bottom: 2%;
  }
}