<div class="row">
	<article class="twelve cell">
		<h2 ng-if="vm.processBookings.length === 1"><i18n>rbs.booking.refuse.one</i18n></h2>
		<h2 ng-if="vm.processBookings.length > 1"><i18n>rbs.booking.refuse.multi.begin</i18n>[[vm.processBookings.length]]<i18n>rbs.booking.refuse.multi.end</i18n></h2>

		<div class="scrollable-content-small">
			<table class="list-view twelve colored">
				<thead>
					<tr>
						<th colspan="2"></th>
						<th><i18n>rbs.booking.headers.owner</i18n></th>
						<th><i18n>rbs.booking.headers.resource</i18n></th>
						<th><i18n>rbs.booking.headers.start_date</i18n></th>
						<th><i18n>rbs.booking.headers.end_date</i18n></th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="booking in vm.processBookings">
						<td class="icon" ng-class="booking.color"></td>
						<td><i ng-if="booking.isSlot()" class="periodic-icon"></i></td>
						<td>[[booking.owner_name]]</td>
						<td>[[booking.resource.name]]</td>
						<td>[[vm.formatMoment(booking.startMoment)]]</td>
						<td>[[vm.formatMoment(booking.endMoment)]]</td>
					</tr>
					<tr ng-if="vm.processBookings.length === 0"><td colspan="4" class="invisible"><i18n>rbs.bookings.selected.empty</i18n></td></tr>
				</tbody>
			</table>
		</div>
		<hr />

		<div class="row">
			<div class="row">
				<label class="twelve cell"><i18n>rbs.booking.refuse.reason.label</i18n></label>
				<textarea ng-model="vm.bookings.refuseReason"></textarea>
			</div>
		</div>

		<div class="row">
			<button class="right-magnet" ng-click="vm.doRefuseBookingSelection()" ng-if="vm.display.processing !== true"><i18n>rbs.refuse</i18n></button>
			<input type="button" class="cancel right-magnet" i18n-value="cancel" ng-click="vm.toggleLightbox(false)" ng-if="vm.display.processing !== true" />

			<button class="right-magnet cancel disabled" disabled ng-if="vm.display.processing === true"><i18n>rbs.processing</i18n></button>
		</div>
	</article>
</div>