<!DOCTYPE html>
<html>
<head>
	<title>{{#i18n}}rbs.title{{/i18n}}</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<script src="{{#infra}}js/loader.js{{/infra}}" type="text/javascript" id="context"></script>
	<script src="/rbs/public/js/model.js" type="text/javascript"></script>
	<script src="/rbs/public/js/controller.js" type="text/javascript"></script>
	<script src="/rbs/public/js/FileSaver.js" type="text/javascript"></script>
	<link href="/rbs/public/css/additional.css" rel="stylesheet">
	<link href="/rbs/public/css/timepicker.css" rel="stylesheet">
	<script type="text/ng-template" id="empty"></script>
</head>
<body ng-controller="RbsController">
<portal>
	<div class="row">
		<container template="top-menu"></container>
	</div>
	<div class="row">
		<container template="main"></container>
	</div>
</portal>
</body>
</html>