<article id="calendar-booking" class="sniplet rbs calendarBooking"
         ng-if="(vm.hasRbsAccess() && (vm.hasBookingRight && !vm.calendarEvent._id)
         || (vm.canViewBooking && !vm.calendarEvent.editAllRecurrence))">
    <h2 class="backgroundBlueTitle" ng-if="vm.canEditEvent">
        <i18n>rbs.title</i18n>
    </h2>
    <div class="toggle">

        <!-- WARNINGS -->
        <!-- Invalid date warning -->
        <div ng-if="vm.calendarEventIsBeforeToday() && !vm.canViewBooking" class="info">
            <i18n>rbs.booking.invalid.datetimes.past</i18n>
        </div>
        <!-- Saved event becomes recurrent or multi day warning -->
        <div ng-if="vm.recurrenceOrMultidaysAdded()" class="info">
            <i18n>rbs.calendar.sniplet.recurrence.multiday.edition.warning</i18n>
        </div>
        <!-- Min delay not respected warning -->
        <div ng-if="vm.resourceHasMinDelay() && !vm.checkMinDelay()" class="info">
            <i18n>rbs.calendar.sniplet.min.delay.not.respected</i18n> [[vm.displayDelayDays(vm.editedBooking.resource.minDelay)]]
            <i18n>rbs.calendar.sniplet.days.in.advance</i18n>
        </div>
        <!-- Max delay not respected warning -->
        <div ng-if="vm.resourceHasMaxDelay() && !vm.checkMaxDelay()" class="info">
            <i18n>rbs.calendar.sniplet.max.delay.not.respected</i18n> [[vm.displayDelayDays(vm.editedBooking.resource.maxDelay)]]
            <i18n>rbs.calendar.sniplet.days.in.advance</i18n>
        </div>
        <!-- Saved booking + new recurrence warning -->
        <div class="warning" ng-if="vm.calendarEvent._id && vm.hasRecurrenceBeenAdded()">
            <i18n>rbs.calendar.sniplet.booking.add.new.recurrence.warning</i18n>
            (<i18n>rbs.booking.edit.period.end.on</i18n> [[vm.formatDate(vm.editedBooking.startMoment, vm.dateFormat.displayDate)]],
            <i18n>from</i18n> [[vm.formatDate(vm.editedBooking.startMoment, vm.dateFormat.displayTime)]]
            <i18n>to</i18n> [[vm.formatDate(vm.editedBooking.endMoment, vm.dateFormat.displayTime)]])
        </div>

        <!-- BOOKING -->
        <div class="content" ng-if="!vm.calendarEventIsBeforeToday() || vm.canViewBooking">
            <!-- Booking checkbox -->
            <div class="row" ng-show="vm.hasBookingRight && !vm.calendarEvent._id">
                <input type="checkbox"
                       ng-model="vm.hasBooking" ng-change="vm.updateCalendarEvent()"/>
                <label>
                    <i18n>rbs.title</i18n>
                </label>
            </div>

            <!-- No access to booking -->
            <div class="row block-container sniplet calendarBooking-bookingInfoBox calendarBooking-bookingFormBody
                twelve cell" ng-if="!vm.hasAccessToSavedBookings()">
                <i18n>rbs.calendar.sniplet.booking.no.access</i18n>
            </div>

            <!-- Booking summary -->
            <div ng-repeat="booking in vm.bookings.all" ng-if="vm.calendarEvent._id && vm.hasAccessToSavedBookings()">
                <div class="row block-container sniplet calendarBooking-bookingInfoBox calendarBooking-bookingFormBody
                twelve cell">
                    <div ng-if="!booking.hasBeenDeleted">
                        <div class="three cell right-spacing">[[booking.resource.name]]</div>
                        <div class="one cell right-spacing">[[booking.quantity]]</div>
                        <div class="three cell right-spacing">[[vm.formatBookingDates(booking.start_date, booking.end_date)]]</div>
                        <div class="two cell">[[vm.bookingStatus(booking.status)]]</div>
                    </div>
                    <div ng-if="booking.hasBeenDeleted">
                        <i18n>rbs.calendar.sniplet.booking.deleted</i18n>
                    </div>
                </div>
            </div>

            <!-- Booking form -->
            <div id="calendar-rbs-booking" class="calendar-rbs-booking" ng-show="vm.hasBooking && vm.hasBookingRight">
                <section class="twelve cell sniplet calendarBooking-bookingFormBody">
                    <!-- Warning : no multi days or recurrent events -->
                    <div ng-if="vm.hasBooking && !vm.isBookingPossible(true) && !vm.canViewBooking" class="info">
                        <i18n>rbs.calendar.sniplet.conditions</i18n>
                    </div>
                    <!-- Warning : booking quantity problem -->
                    <div ng-if="!vm.isResourceQuantityAllowingBooking() && vm.isBookingPossible(true)" class="info">
                        <i18n>rbs.booking.edit.quantity.null</i18n>
                    </div>

                    <!-- Min delay not respected warning -->
                    <div ng-if="vm.resourceHasMinDelay() && !vm.checkMinDelay()" class="info">
                        <i18n>rbs.calendar.sniplet.min.delay.not.respected</i18n> [[vm.displayDelayDays(vm.editedBooking.resource.minDelay)]]
                        <i18n>rbs.calendar.sniplet.days.in.advance</i18n>
                    </div>
                    <!-- Max delay not respected warning -->
                    <div ng-if="vm.resourceHasMaxDelay() && !vm.checkMaxDelay()" class="info">
                        <i18n>rbs.calendar.sniplet.max.delay.not.respected</i18n> [[vm.displayDelayDays(vm.editedBooking.resource.maxDelay)]]
                        <i18n>rbs.calendar.sniplet.days.in.advance</i18n>
                    </div>
                    <div class="row accordions">
                        <!-- Resource description -->
                        <div class="toggle">
                            <div class="content">
                                <!-- Structures -->
                                <div class="row">
                                    <label class="three cell">
                                        <i18n>rbs.booking.edit.structure.label</i18n>
                                    </label>
                                    <select class="six cell" ng-model="vm.editedBooking.structure"
                                            ng-options="struct.name for struct in vm.userStructures | orderBy: 'name'"
                                            ng-change="vm.autoSelectResourceType()"
                                            ng-if="vm.areStructuresValid()">
                                    </select>
                                    <div class="six cell warning"
                                         ng-if="!vm.areStructuresValid()">
                                        <i18n>rbs.booking.warning.no.structure</i18n>
                                    </div>
                                </div>
                                <div class="row" ng-if="vm.areStructuresValid()">
                                    <!-- Resource types -->
                                    <div class="row">
                                        <label class="three cell">
                                            <i18n>rbs.booking.edit.type.label</i18n>
                                        </label>
                                        <select class="six cell" ng-model="vm.editedBooking.type"
                                                ng-options="resourceType.name for resourceType in vm.resourceTypes | orderBy: 'name'"
                                                ng-change="vm.autoSelectResource()" required
                                                ng-if="vm.resourceTypes && vm.resourceTypes.length">
                                        </select>
                                        <div class="six cell warning" ng-if="(!vm.resourceTypes || !vm.resourceTypes.length)">
                                            <i18n>rbs.booking.warning.no.types</i18n>
                                        </div>
                                    </div>
                                    <!-- Resources -->
                                    <div class="row" ng-if="vm.resourceTypes && (vm.resourceTypes.length >0)">
                                        <label class="three cell">
                                            <i18n>rbs.booking.edit.resource.label</i18n>
                                        </label>
                                        <select class="six cell" ng-model="vm.editedBooking.resource"
                                                ng-options="resource.name for resource in vm.resources"
                                                ng-change="vm.prepareBookingStartAndEnd()"
                                                required ng-if="vm.resources && vm.resources.length" input-guard>
                                        </select>
                                        <div class="six cell warning" ng-if="!vm.resources || (vm.resources.length <= 0)">
                                            <i18n>rbs.booking.warning.no.resources</i18n>
                                        </div>
                                    </div>
                                </div>

                                <!--Booking errors-->
                                <div ng-include="template.containers.editBookingErrors"></div>

                                <!--Resource description -->
                                <div ng-if="vm.editedBooking.resource !== undefined && vm.editedBooking.resource.description"
                                     bind-html="vm.editedBooking.resource.description" class="horizontal-spacing-twice"></div>
                                <div class="row"
                                     ng-if="vm.editedBooking.resource !== undefined && (!vm.editedBooking.resource.description)">
                                    <p>
                                        <i18n>rbs.booking.edit.description.empty</i18n>
                                    </p>
                                </div>

                                <!-- Moderators -->
                                <div class="row" ng-if="vm.editedBooking.type && vm.editedBooking.type.moderators">
                                    <label class="row">
                                        <i18n>rbs.booking.details.moderators</i18n>
                                    </label>
                                    <p class="row">
                                        <span ng-repeat="moderator in vm.editedBooking.type.moderators"
                                              class="cell four cell-ellipsis horizontal-spacing-twice"
                                              title="[[moderator.username+' ('+vm.translate(moderator.type)+')']]">
                                                [[moderator.username]] <em class="small-text">([[vm.translate(moderator.type)]])</em>[[$last ? '' : ', ']]
                                        </span>
                                    </p>
                                </div>
                            </div>

                        </div>

                        <!-- Booking base slot dates and hours -->

                        <div class="toggle">
                            <div class="content">
                                <!-- Booking quantity -->
                                <div ng-if="vm.editedBooking.resource.is_available != undefined">
                                    <div class="bottom-spacing-three default-fontsize" ng-if="!vm.isResourceQuantityValid()">
                                        <b><i18n>rbs.booking.edit.quantity.none</i18n></b>
                                    </div>
                                    <div class="bottom-spacing-three default-fontsize" ng-if="vm.isResourceQuantityValid()">
                                        <i18n>rbs.booking.edit.quantity.availability.thereis</i18n>
                                        <b>[[vm.availableResourceQuantity()]]</b>
                                        <i18n>rbs.booking.edit.quantity.availability.on</i18n>
                                        <b>[[vm.resourceQuantity()]]</b>
                                        <i18n>rbs.booking.edit.quantity.availability.text</i18n>
                                    </div>
                                </div>


                                <!-- (Un)Availabilities -->
                                <div>
                                    <div ng-if="vm.editedBooking.resource.is_available && vm.editedBooking.resource.unavailabilities.all.length > 0">
                                        <i18n>rbs.booking.edit.availabilities.resource.is</i18n>
                                        <b><i18n>rbs.booking.edit.availabilities.unavailable</i18n></b>
                                        <i18n>rbs.booking.edit.availabilities.timeslots</i18n>
                                    </div>
                                    <div ng-if="!vm.editedBooking.resource.is_available && vm.editedBooking.resource.availabilities.all.length > 0">
                                        <i18n>rbs.booking.edit.availabilities.resource.is</i18n>
                                        <b><i18n>rbs.booking.edit.availabilities.available</i18n></b>
                                        <i18n>rbs.booking.edit.availabilities.timeslots</i18n>
                                    </div>

                                    <div ng-if="vm.editedBooking.resource !== undefined && (vm.editedBooking.resource.unavailabilities.all.length > 0
                                    || vm.editedBooking.resource.availabilities.all.length > 0)"
                                         ng-include="'/rbs/public/template/booking/availability-table.html'"></div>
                                </div>

                                <!-- Booking quantity selector -->
                                <div ng-if="vm.editedBooking.resource.is_available != undefined">
                                    <div class="bottom-spacing-three">
                                        <label class="right-spacing cell"><i18n>rbs.booking.edit.quantity.label</i18n></label>
                                        <input class="input-size" type="number" ng-model="vm.editedBooking.quantity"
                                               min="1" max="[[vm.numberOfAvailableItems]]"/>
                                    </div>
                                </div>

                                <!-- Errors -->
                                <div ng-include="template.containers.editBookingErrors"></div>
                            </div>
                        </div>

                    </div>
                </section>
            </div>
        </div>
    </div>
</article>